[2017-03-22 02:02] ChrisRackauckas opened #1 "Paper Translations"
Lagaris, Isaac E., Aristidis Likas, and Dimitrios I. Fotiadis. "Artificial neural networks for solving ordinary and partial differential equations." IEEE Transactions on Neural Networks 9, no. 5 (1998): 987-1000.

Just to log some details;

$$N(x)=\sum_{i=1}^{i=H} v_i \sigma(\sum_{j=1}^{j=N} w_{ij} x_j +u_j) + k_i$$

 - $$v_i = $$ elements of `P[3]`
 - $$ w_{ij} = $$ elements of `P[1]`
 - $$u_i =

[2017-03-22 02:04] ChrisRackauckas commented on #1
$$\frac{\partial N}{\partial x} = \sum_i v_i w_{ij} \sigma^{\prime} (\sum_j^N w_{ij} x_j + u_j) $$

$$ E[p] = \sum_i ( N(x_i,p) + x_i \frac{\partial N}{\partial x} - f(x_i , A + x_i N(x_i,p))^2 $$

[2017-03-22 02:06] ChrisRackauckas commented on #1
@oxinabox w.r.t. `P[4]`

And since it doesn't show up in the loss, it will be impossible to learn.

[2017-03-22 02:07] oxinabox commented on #1
URL: https://arxiv.org/pdf/physics/9705023.pdf

[2017-05-31 06:15] edwinksl commented on #1
Hi all, I randomly came across this project from GSOC's page at https://summerofcode.withgoogle.com/projects/#5850956641075200. For my class project for MIT's 6.867 Machine Learning class (http://student.mit.edu/catalog/search.cgi?search=6.867&style=verbatim), I had formulated a feedforward neural network with an arbitrary number of hidden layers to solve ODEs and PDEs and implemented it to solve

[2017-05-31 11:59] ChrisRackauckas commented on #1
Hey, thanks for the interest!

Yes, we are using deep neural nets with user-chosen numbers of hidden layers. However, we are still seeing issues with the setup trying to converge as `dt->0`. You might also want to check out TensorFlowDiffEq.jl. I would love to take a look through your project writeup and see what you came up with!

[2017-05-31 15:45] edwinksl commented on #1
@ChrisRackauckas Sounds good, let me clean it up a little and I will provide a link to the writeup and code.

[2017-06-04 04:57] edwinksl commented on #1
Here is a Dropbox link to the PDF of my writeup: https://www.dropbox.com/s/3ns5ui3lbe754es/Report.pdf?dl=0. I plan to get a repo up on GitHub with the MATLAB and LaTeX code as soon as I can.

[2017-06-04 05:05] ChrisRackauckas commented on #1
Thanks for sharing! I see from your Figure 1 that you had the convergence rate issues. Did you have any tests for `error->0` as `N->infty`?

[2017-06-04 05:46] edwinksl commented on #1
@ChrisRackauckas Nope, I didn't systemically increase `N` to see if `error` goes to `0`. On hindsight, I should have done that, but I didn't really have much time to do this project haha.

By gradient calculations, I guess you are referring to the appendix? I do think the appendix may be of most interest to you too since the math gets really messy when we try to backpropagate second and higher ord

[2019-06-10 11:47] #1 closed

[2019-06-19 08:26] ChrisRackauckas opened #8 "Register"
@JuliaRegistrator register()

[2019-06-19 08:26] JuliaRegistrator commented on #8
Registration pull request created: [JuliaRegistries/General/1459](https://github.com/JuliaRegistries/General/pull/1459)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-07-16 05:05] #8 closed

[2019-07-16 05:06] ChrisRackauckas opened #10 "High dimensional PDE solving with neural network approaches"
https://www.pnas.org/content/115/34/8505

[2019-07-16 11:08] #10 closed

[2019-07-17 02:57] ChrisRackauckas opened #14 "Register"
@JuliaRegistrator register()

[2019-07-17 02:57] #14 closed

[2019-07-17 02:57] JuliaRegistrator commented on #14
Registration pull request created: [JuliaRegistries/General/2073](https://github.com/JuliaRegistries/General/pull/2073)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-07-17 05:30] ChrisRackauckas commented on #14
@JuliaRegistrator register()

[2019-07-17 05:31] JuliaRegistrator commented on #14
Registration pull request updated: [JuliaRegistries/General/2073](https://github.com/JuliaRegistries/General/pull/2073)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-08-08 11:33] ChrisRackauckas commented on #14
@JuliaRegistrator register()

[2019-08-08 11:33] JuliaRegistrator commented on #14
Registration pull request created: [JuliaRegistries/General/2577](https://github.com/JuliaRegistries/General/pull/2577)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-08-17 13:56] ChrisRackauckas commented on #10
![Capture](https://user-images.githubusercontent.com/1814174/63212617-48980480-c0d5-11e9-9fec-0776117464c7.PNG)

[2019-08-17 14:28] ChrisRackauckas commented on #10
![Capture](https://user-images.githubusercontent.com/1814174/63213366-b1817b80-c0d9-11e9-99b2-c8c08b86d2d5.PNG)

[2019-08-18 14:10] ChrisRackauckas opened #19 "Deep learning methods for free-boundary PDEs"
https://arxiv.org/abs/1708.07469

[2019-08-18 14:11] ChrisRackauckas opened #20 "Deep learning methods for stochastic elliptic PDEs"
https://arxiv.org/abs/1902.05200

[2019-08-18 14:16] ChrisRackauckas opened #21 "Deep learning for random PDEs"
https://arxiv.org/abs/1806.02957

[2019-08-20 11:07] ChrisRackauckas opened #22 "Kolmogorov equations through neural nets"
https://arxiv.org/pdf/1806.00421.pdf

[2019-08-20 11:34] ChrisRackauckas opened #23 "Optimal stopping problems through neural networks"
https://arxiv.org/pdf/1908.01602.pdf

[2019-08-23 19:15] ChrisRackauckas commented on #8
@JuliaRegistrator register()

[2019-08-23 19:15] JuliaRegistrator commented on #8
Registration pull request created: [JuliaRegistries/General/2905](https://github.com/JuliaRegistries/General/pull/2905)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-08-23 19:44] attobot opened #24 "Error tagging new release"
The tag name "v.1.0.1" is not of the appropriate SemVer form (vX.Y.Z).
cc: @KirillZubov

[2019-08-29 22:26] #24 closed

[2019-08-29 22:26] ChrisRackauckas opened #25 "Weak adversarial network PDE solvers"
https://arxiv.org/abs/1907.08272

[2019-09-07 08:45] ChrisRackauckas opened #26 "Deep primal-dual method for semilinear PDEs"
https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3071506

[2019-09-17 14:30] matthieugomez opened #29 "X.data"
I am trying to use `NeuralNetDiffEq` to solve a PDE.

I am not sure what `X.data` means when defining the volatility function `σ`
For instance, in the first Black-Scholes-Barenblatt example, we have
[code]
When I try
[code]
I get the following error
[code]

[2019-09-18 13:05] matthieugomez opened #31 "A more robust solution method"
https://arxiv.org/abs/1902.01599

[2019-09-18 15:41] ChrisRackauckas commented on #31
`NNPDENS` with `EM` is the same as `DBDP2`. We should probably just make the test run a bit longer though.

[2019-09-28 20:59] KirillZubov commented on #29
Tracker Array stores a value and a gradient. We can drop derivative information and just get the plain value back using tracked_value.data or Tracker.data(tracked_value).

I moved the call of X.data inside the method.

it should work now
[code]

[2019-09-28 21:58] #29 closed

[2019-10-06 11:31] Ayushk4 commented on #25
I would like to work on this issue. I have read and understood the paper and related concepts.

I have done a crude implementation of paper for solving elliptic PDEs with Dirichlet boundary condition with the networks hyperparameters as described in the paper (4.1.2) for dimensions = 5. It can be found [here](https://github.com/Ayushk4/WAN_PDE). I trained it for 500 iterations (of the 20,000 iters

[2019-10-06 13:21] ChrisRackauckas commented on #25
Yes, let's make sure it converges "all of the way" first. It still looks like it's missing some of the corner behavior.

Try to get it working where, instead of writing down the discretization, it should just call DifferentialEquations.jl. This can use DiffEqFlux.jl's diffeq_adjoint to make sure the adjoint for training is the fast one.

Let's wait on that until we know it's all working, then slap

[2019-10-13 04:14] Ayushk4 commented on #25
I trained it till converged and seems to fit well for [dims = 20](https://github.com/Ayushk4/WAN_PDE/tree/master/Elliptic_dirichlet_files/dims=20). I have uploaded the plots and notebooks for the same.
For dims = 5, however, after about 6400 iterations, the loss went _NaN_ due to Adversarial Network going _Inf_. Still, it seemed to fit pretty [well](https://github.com/Ayushk4/WAN_PDE/blob/master/I

[2019-10-13 11:24] ChrisRackauckas commented on #25
Some of these may just be slow GPU kernels. It could be worth isolating them to get an MWE for the GPU developers.

[2019-10-13 11:24] ChrisRackauckas commented on #25
Sounds great!

[2019-10-18 12:51] ChrisRackauckas commented on #22
https://github.com/juliusberner/Deep-Multilevel-Kolmogorov-PDE-Solver

[2019-10-27 13:39] Ayushk4 commented on #25
I have a doubt here. For PDEs involving time, there are two methods. First one outputs `N` (no of time segments) different set of parameters values for the primal network, corresponding to each timestep. The other one changes the weak solution to give one set of parameter values. For which of these two methods, should I try this out? Could you also guide on how to proceed with this?

[2019-10-29 14:57] Ayushk4 commented on #25
ping @ChrisRackauckas . ^

[2019-11-02 08:55] ChrisRackauckas commented on #25
Hmm, I was thinking of Algorithm 2. That can be any time discretization, so time step that with DiffEq. But now I see you can't because you don't end up with a differential equation for the evolution. Instead you need to optimize at each step, so what I was thinking wasn't possible, so ignore that :). Instead stick to the paper here.

[2019-11-02 08:57] ChrisRackauckas commented on #25
We can generalize it to use arbitrary tableaus though, but this can be later. Method 3 might be better anyways

[2019-11-02 09:03] Ayushk4 commented on #25
Sure. I am proceeding with Algorithm 3 then.

[2019-11-10 05:40] Ayushk4 commented on #25
I am written one example of Algorithm 3 as in the paper ([link](https://github.com/Ayushk4/WAN_PDE/blob/master/time_dependent_pde.jl)). I have uploaded plots (also separate images) for the [same](https://github.com/Ayushk4/WAN_PDE/blob/master/Time_Dependent_pdes/Plots-TimeDependentPDEs.ipynb). It seems to be training well, but took somewhat long to train ~10hrs on GPU.

I was thinking of equation

[2019-11-11 04:34] ChrisRackauckas commented on #25
Yes, this sounds like a good direction to go down.

[2019-11-14 20:45] ChrisRackauckas opened #34 "Chaotic Attractor Replication"
https://arxiv.org/pdf/1710.07313.pdf

[2019-12-11 10:08] KristofferC opened #41 "Tests sometimes fail"
It seems tests for this package sometimes fail spuriously:

[code]

from https://github.com/maleadt/BasePkgEvalReports/blob/df660562b2dd1fc99b44e1ea582934701d8d421f/8639e57_vs_46ce4d7/logs/NeuralNetDiffEq/1.3.1-pre-8639e5771d.log#L2063-L2083

It would be good if that could be fixed because it is contributing some noise to the automatic tests we run on packages for different Julia versions.

[2019-12-14 10:33] ChrisRackauckas commented on #41
@JuliaRegistrator register()

I put out a patch release where the number of iterations used in that test is increased. That should help make sure it converges. Let me know if this still happens!

[2019-12-14 10:33] #41 closed

[2019-12-14 10:33] JuliaRegistrator commented on #41
Registration pull request created: [JuliaRegistries/General/6720](https://github.com/JuliaRegistries/General/pull/6720)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-12-14 11:08] ChrisRackauckas commented on #14
@JuliaRegistrator register()

[2019-12-14 11:08] JuliaRegistrator commented on #14
Registration pull request created: [JuliaRegistries/General/6722](https://github.com/JuliaRegistries/General/pull/6722)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2019-12-15 13:18] ChrisRackauckas opened #44 "Deep learning for symbolic mathematics"
https://arxiv.org/pdf/1912.01412.pdf

Could make use of ModelingToolkit for the representation and build a solver!

[2019-12-15 18:18] ChrisRackauckas opened #45 "Learning Symbolic Physics with Graph Networks"
https://arxiv.org/pdf/1909.05862.pdf

[2019-12-22 13:43] ChrisRackauckas opened #46 "Push nnode further"
We should get some examples showing bigger neural networks training things like Lotka-Volterra. Might need GPUs.

[2020-01-16 16:08] MartinuzziFrancesco commented on #34
I've been working on an implementation of the code for this paper: https://github.com/MartinuzziFrancesco/EchoStateNetwork

The results are a little inconsistent, I don't know yet if it is because of my implementation or is an inherent problem of the model. Or maybe even the parameters given by the paper are not the best. This is something to work on. I am only using the Lorenz system as benchmark

[2020-01-16 16:13] ChrisRackauckas commented on #34
Interesting. Can you show what the plots look like in phase space? IIRC, it should get the attractor correct though not the trajectories.

[2020-01-17 13:18] finmod opened #52 "High dimensional McKean Vlasov FBSPDE using NN"
https://arxiv.org/pdf/1909.12678.pdf . The problem set of NeuralNetDiffEq should be extended to this MKV FBSPDE problem with numerical comparison with Python results.

[2020-01-17 14:27] ChrisRackauckas commented on #52
Thanks, this is indeed an interesting method and a good fit for this repo.

[2020-01-17 16:16] MartinuzziFrancesco commented on #34
Of course, I just added an image to the repo: https://github.com/MartinuzziFrancesco/EchoStateNetwork/blob/master/attractor_com.png

[2020-01-17 16:18] ChrisRackauckas commented on #34
oh that's looking pretty good. Are you looking to turn this into package code?

[2020-01-17 16:50] MartinuzziFrancesco commented on #34
Yes, the intention was to finish the details around the model and then work towards turning it into a package code.
Besides the points I have expressed in the first message, do you have any other idea in particular to which direction to go regarding this model?

[2020-01-18 05:25] ChrisRackauckas commented on #46
starter code:

[code]

[2020-01-18 13:23] ChrisRackauckas opened #53 "General PDE solving with NNs"
https://arxiv.org/abs/1907.04502

[2020-01-19 18:57] ChrisRackauckas commented on #46
From GCI:

[code]

It's still monotonic. For some reason things keep coming out monotonic!

[2020-01-19 18:58] ChrisRackauckas commented on #46
![Capture](https://user-images.githubusercontent.com/1814174/72686524-c23c8000-3ac3-11ea-9581-2e12551dbec0.PNG)

[2020-01-19 21:49] ChrisRackauckas commented on #34
I think it's fine where it is, for now. I think making it have a package interface so that it would be easy to try other models is where to go, since then it would be be easier to test in a larger context of models.

[2020-01-19 23:36] MartinuzziFrancesco commented on #34
Wonderful, I will start working on that in these days. With the last changes in the code the results are actually very consistent and in line with those given by the paper, yielding good short term predictions and a similar attractor. If you want to take a look I have updated the pictures in the repo.

[2020-01-25 15:52] MartinuzziFrancesco commented on #34
All packaged up, just waiting on the JuliaRegistrator. I've made a few changes in the meantime so the code is cleaner to use but there is still a lot of room for improvements of course.

[2020-02-03 03:54] azev77 opened #57 "Test Errors?"
I ran: https://github.com/JuliaDiffEq/NeuralNetDiffEq.jl/blob/master/test/NNPDENS_tests.jl

For "Black-Scholes-Barenblatt equation"
[code]
It says:
MethodError: no method matching Float32(::Tracker.TrackedReal{Float32})
Closest candidates are:
  Float32(::Real, !Matched::RoundingMode) where T<:AbstractFloat at rounding.jl:200
  Float32(::T) where T<:Number at boot.jl:718
  Float32(!Matched::Int8)

[2020-02-03 03:56] ChrisRackauckas commented on #57
I wonder if https://github.com/JuliaDiffEq/DiffEqBase.jl/pull/430 had an effect here. I'll test it sometime tomorrow.

[2020-02-03 03:57] ChrisRackauckas commented on #57
See if rolling back that patch fixes it.

[2020-02-03 03:57] azev77 commented on #57
Sorry @ChrisRackauckas I don't know how to do that

[2020-02-03 03:59] ChrisRackauckas commented on #57
`]add DiffEqBase@6.13.1`, and then `]free DiffEqBase` when you're done to return it to normal.

[2020-02-03 04:07] azev77 commented on #57
Tried, I get a new error in method definition at this line:
[code]

[2020-02-03 04:40] ChrisRackauckas commented on #57
Are you not on Julia 1.3?

[2020-02-03 13:46] #34 closed

[2020-02-03 16:27] azev77 commented on #57
Yes

[2020-02-03 22:48] KirillZubov commented on #57
@azev77 this happens simply because the name `σ` is already defined as `NNlib.σ` in the environment. Just change the name of the function `σ (X, p, t)` to something else, and it should work.
We will fix this soon.

[2020-02-03 22:57] azev77 commented on #57
Thanks @KirillZubov @ChrisRackauckas
I'm preparing a blog post on Julia for dynamic economic models.
I believe currently
[code]
gives u(x=X0, t=tspan[1]).
How can I recover the entire function: `u(x,t), u_x(x,t)` etc ?

[2020-02-04 02:26] ChrisRackauckas commented on #57
You are correct that this is what it gives. It's a very specific method for solving the terminal PDE for HJB and stochastic optimal control types of problems, and not one that can compute the full function. There are other methods which can compute the whole function (which are of course slower too) which will be added to the library.

[2020-02-04 13:16] azev77 commented on #57
Btw, here are other deep BSDE solvers w tf, pytorch :
https://github.com/frankhan91/DeepBSDE?files=1

https://github.com/skyhehe123/DeepBSDE-pytorch?files=1

https://github.com/vduarte/MLEcon

[2020-02-04 15:12] ChrisRackauckas commented on #57
Thanks! Is this all cleaned up? I noticed our tests are having some issues right now, but I think @KirillZubov is on it. One of the things we need to fix up is just how long to setup the CI tests for.

[2020-02-04 20:02] azev77 commented on #57
Btw, I have NeuralNetDiffEq v1.0.1 installed, which is not the latest version.
For some reason it won't let me install the latest. Not sure if this is relevant.

[2020-02-04 20:14] ChrisRackauckas commented on #57
On Julia 1.3 with Flux 0.10?

[2020-02-04 20:16] azev77 commented on #57
I update my stuff today.
Julia 1.3.1
Flux 0.10.1

[2020-02-04 20:20] azev77 commented on #57
Fyi, when I run the tests now I get a new error at:
[code]
UndefVarError: Tracker not defined
getproperty at Base.jl:13 [inlined]

[2020-02-04 20:21] ChrisRackauckas commented on #57
Interesting... Tracker doesn't exist in the repo at all.

[2020-02-04 23:55] azev77 commented on #57
I manually downloaded the latest version w/
`] add https://github.com/JuliaDiffEq/NeuralNetDiffEq.jl`
and it works now.

[2020-02-07 01:20] ChrisRackauckas commented on #57
All tests are passing on master so tagging.

[2020-02-07 01:20] #57 closed

[2020-02-07 01:20] ChrisRackauckas commented on #31
Tests are more robust now.

[2020-02-07 01:20] #31 closed

[2020-02-07 01:20] ChrisRackauckas commented on #8
@JuliaRegistrator register()

[2020-02-07 01:20] JuliaRegistrator commented on #8
Registration pull request created: [JuliaRegistries/General/8993](https://github.com/JuliaRegistries/General/pull/8993)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2020-02-07 02:40] ChrisRackauckas commented on #14
@JuliaRegistrator register()

[2020-02-07 02:40] JuliaRegistrator commented on #14
Registration pull request created: [JuliaRegistries/General/8996](https://github.com/JuliaRegistries/General/pull/8996)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the githu

[2020-02-12 13:34] ashutosh-b-b commented on #22
I have started working on this.

[2020-02-27 16:38] ChrisRackauckas commented on #22
https://github.com/JuliaDiffEq/NeuralNetDiffEq.jl/pull/61 is it. Remaining details:

- Instead of a `KolmogorovPDEProblem`, it should just use `SDEProblem` with distribution input.
- Needs documentation
- Needs the ability to do high-dimensional SDEs
- Needs a high dimensional SDE test
- Use the ensemble interface https://docs.juliadiffeq.org/latest/features/ensemble/ for the ensemble of solutions

[2020-03-02 08:47] EeeasyBreezy opened #63 "Error while trying to run code from Readme"
Hello!
First of all, I want to thank you for developing such kind of powerful tool for solving differential equations.
I'm trying to get into it by running example code from repository readme, but failing to do so.
Run gives me an error when trying to invoke `solve` function:
`ERROR: Use broadcasting (`σ.(x)`) to apply activation functions to arrays.`

Stacktrace:
[code]

My dev environment:
- jul

[2020-03-02 13:05] KirillZubov commented on #63
Thanks that drew attention to this problem. I have already changed the readme. It is enough to change the name of the function “σ” to another since this name is already used for the activation function. For example, "σ_f"

[2020-03-02 13:43] ChrisRackauckas commented on #63
Yeah, just a renaming thing.

[2020-03-02 13:43] #63 closed

[2020-03-02 13:44] EeeasyBreezy commented on #63
Thanks for help, guys

[2020-03-04 04:49] ChrisRackauckas commented on #46
[code]

shows that using ReverseDiff fixes how it can converge. Looks like Zygote is dropping gradients, specifically:

https://github.com/FluxML/Zygote.jl/issues/231
https://github.com/FluxML/Zygote.jl/issues/314

@dhairyagandhi96

[2020-03-04 16:14] ChrisRackauckas commented on #14
@JuliaRegistrator register()

[2020-03-04 16:14] JuliaRegistrator commented on #14
Registration pull request created: [JuliaRegistries/General/10520](https://github.com/JuliaRegistries/General/pull/10520)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the git

[2020-03-05 05:34] CarloLucibello commented on #46
this should be fixed on zygote master

[2020-03-05 06:10] ChrisRackauckas commented on #46
has it? The issues weren't closed though?

[2020-03-05 08:25] dhairyagandhi96 commented on #46
Yeah, we'd closed both those issues with the closures, seems different from that

[2020-03-05 13:31] EeeasyBreezy opened #68 "Pricing options using NeuralNetDiffEq"
Hi, guys!
I'm trying to implement option pricing on some abstract underlying asset using ANN approximation for each time period using different `x0 ` intial states (price of underlying asset). I've have an option with only one underlying asset, so we could also price it with Black-Sholes method, so I can make BS-value an expected one

In terms of NeuralNetDiffEq there is the following problem Term

[2020-03-05 15:04] ChrisRackauckas commented on #68
Interesting that it does look like a straight bias. @KirillZubov do you have time to look into this?

[2020-03-05 15:58] KirillZubov commented on #68
ok, I will look into it

[2020-03-05 16:00] KirillZubov commented on #68
@EeeasyBreezy could you share the full code that gives the results above?

[2020-03-05 16:01] KirillZubov commented on #68
@EeeasyBreezy could you share the full code that gives the results above?

[2020-03-05 16:03] EeeasyBreezy commented on #68
Sure
[Cure.zip](https://github.com/JuliaDiffEq/NeuralNetDiffEq.jl/files/4293891/Cure.zip)

[2020-03-05 16:11] KirillZubov commented on #68
@EeeasyBreezy thanks

[2020-03-05 16:13] EeeasyBreezy commented on #68
@KirillZubov forget that, please, take this one)
The first one has an invoke of a deleted stub function
[Cure.zip](https://github.com/JuliaDiffEq/NeuralNetDiffEq.jl/files/4293939/Cure.zip)

[2020-03-05 16:42] ChrisRackauckas commented on #14
@JuliaRegistrator register()

[2020-03-05 16:42] JuliaRegistrator commented on #14
Registration pull request created: [JuliaRegistries/General/10582](https://github.com/JuliaRegistries/General/pull/10582)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the git

[2020-03-05 16:56] KirillZubov commented on #68
@EeeasyBreezy do you sure that you need the one-dimensional case (d = 1)?

[2020-03-05 17:00] KirillZubov commented on #53
Goal list for the prototype for GSoC proposal
1) general ODE solver
2) simple general PDE solver for one dim and first-order task
3) complete and merge second-order derivative PR [#54](https://github.com/JuliaDiffEq/NeuralNetDiffEq.jl/pull/54)
4) example for second-order equation
5) support two-dimensionality

[2020-03-05 17:08] ChrisRackauckas commented on #53
The biggest portion of such a project for us would be to make it automatic. The way to do this would be to integrate with the ModelingToolkit.jl PDESystem setup, showcased here:

https://github.com/JuliaDiffEq/DifferentialEquations.jl/issues/469

Basically it would need to plug into this system and then automatically generate the right neural networks and loss functions from the specification of t

[2020-03-05 17:24] ChrisRackauckas commented on #46
https://github.com/FluxML/Zygote.jl/pull/510 needs to get rebased then. Whoever can force push could you please?

[2020-03-05 17:29] dhairyagandhi96 commented on #46
I was getting tracked array type mismatch error with the mwe here, is there some setup to see a clearer error? This is with masters of all the relevant packages

[2020-03-05 17:33] ChrisRackauckas commented on #46
I'm tagging everything, it's just Zygote that needs a special branch. There shouldn't be tracked arrays except with ReverseDiff?

[2020-03-05 17:45] EeeasyBreezy commented on #68
Not quite
I took a 1-dimensional problem so I can estimate the quality of the solution easily.
To estimate quality for 2 and higher dimensions I need to search somewhere data about option prices with 2 and more underlying assets. 1-dim problem is the simplest one and moreover there is analytical solution to estimate the quality and build plots

[2020-03-05 18:32] KirillZubov commented on #68
@EeeasyBreezy  I checked. I got the same result with NNPDEHan alg. First of all, I suspect that something is wrong with the option pricing model, but still, I cannot completely exclude that the algorithm works correctly. But if this is so, then I do not understand what is the matter. Try experimenting with the model: change the parameters, add dependence on σᵀ∇u in your model and etc.

[2020-03-05 20:57] ChrisRackauckas commented on #46
https://github.com/JuliaDiffEq/NeuralNetDiffEq.jl/pull/70 shows that naive training of a big network still doesn't work that well, though it's getting closer:

[code]

![plot](https://user-images.githubusercontent.com/1814174/76024966-fd6f0300-5ef9-11ea-820b-d9789490d3a0.png)

[2020-03-05 20:58] ChrisRackauckas commented on #46
I think that what is really required is an investigation of new training strategies. I'll open an issue about this

[2020-03-05 21:02] ChrisRackauckas opened #71 "Investigate physics-informed neural network (PINN) training strategies"
https://github.com/JuliaDiffEq/NeuralNetDiffEq.jl/issues/46 shows that the basic strategy of training on a fixed training grid doesn't work so well even on a 1-dimensional PINN (an ODE) if the nonlinearity is strong enough. To improve the training process, we should look at changing the strategies a bit. Here's some things that come to mind:

- [x] Random sampling in the domain, making a stochasti

[2020-03-05 21:54] ChrisRackauckas commented on #14
@JuliaRegistrator register()

[2020-03-06 00:18] ChrisRackauckas commented on #14
@JuliaRegistrator register()

[2020-03-06 00:19] JuliaRegistrator commented on #14
Registration pull request updated: [JuliaRegistries/General/10591](https://github.com/JuliaRegistries/General/pull/10591)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if [Julia TagBot](https://github.com/apps/julia-tagbot) is installed, or can be done manually through the git

[2020-03-06 07:30] EeeasyBreezy commented on #68
@KirillZubov ok, I'll try to
do not close this issue, please, I'll write updates here if I'm able to gain more information

[2020-03-06 11:36] KirillZubov commented on #68
@EeeasyBreezy  ok

[2020-03-14 14:11] MartinuzziFrancesco opened #73 "Variations of the Echo State Networks"
After working for a while on issue #34 and on the implementation of an echo state network, I have found a lot of interesting papers regarding possible modifications and improvements of the model.

A direct improvement has been shown by [Lun et al.](https://www.sciencedirect.com/science/article/abs/pii/S0925231215001782) with the proposal of the Double Activation Echo State Network (DAF-ESN), capab

[2020-03-24 02:15] chinglamchoi commented on #44
The code and data generation methods for this paper have finally been released (few hours ago)! https://github.com/facebookresearch/SymbolicMathematics

[2020-04-20 20:46] vavrines opened #80 "Run solve on vectors in NNODE_tests.jl"
Hi there,

I just tried the test cases in NNODE_tests.jl and the illustrative codes work perfect.
However, when I tried to add a real row vector like MNIST perception, it gives the dimension dismatch error from Zygote.

The codes are:

[code]
And the errors are
[code]

Instead of using a loop to iterate every scalar over the vector, I wonder if there is a smarter way to handle this?

Thx : )

[2020-04-21 18:06] KirillZubov commented on #80
@vavrines I fixed that. Now your code should work in master.

[2020-04-21 18:08] ChrisRackauckas commented on #80
@KirillZubov why broadcast there? Why are the sizes not lining up?

[2020-04-21 18:14] KirillZubov commented on #80
@ChrisRackauckas  we used the `phi` function for scalars and not for vectors.  https://github.com/SciML/NeuralNetDiffEq.jl/commit/6183315e0e9e8442191c50b6f014dbd0f3e3099b#diff-01a78f91139818e96d7b261cd47ca62fL63

[2020-04-21 18:16] ChrisRackauckas commented on #80
Yes, but why is that an issue? `rand(2) * 0.1rand(2)` is a perfectly fine piece of code that doesn't error and matches the calculation that phi should be doing.

[2020-04-21 18:17] ChrisRackauckas commented on #80
Why do all of these tests on Lotka-Volterra work (https://github.com/SciML/NeuralNetDiffEq.jl/issues/46) but for some reason this fails? I think this just needs more investigating before concluding that broadcast is the right answer.

[2020-04-21 18:22] KirillZubov commented on #80
@ChrisRackauckas  ok, I see. I more investigating it.

[2020-04-21 18:33] ashutosh-b-b commented on #80
`phi = (t,θ) -> u0 + (t-tspan[1])*chain(adapt(typeof(θ),[t]),θ)` @KirillZubov Here u0 is 1 X 2 array and the other part is a vector. Which in this case is 1 element.( the chain's output should be 2 in the first place).

[2020-04-21 18:37] ashutosh-b-b commented on #80
The difference arrises due to addition of different dimensions.

[2020-04-21 18:39] ChrisRackauckas commented on #80
Let's make `u0 = [0.0f0 0.0f0]` into `u0 = [0.0f0,0.0f0]`. Still errors I think.

To be clear why I think it's important to look into this, the fact that `rand(2) * 0.1rand(2)` works but this line of code in the package doesn't is quite odd: it means a shape is changing somewhere. If you accidentally broadcast a vector to a row vector, `rand(2) .+ rand(2)'`, you get a matrix. If we then are summin

[2020-04-21 18:41] KirillZubov commented on #80
@vavrines @ChrisRackauckas  oh, I understood it just needs `chain = Flux.Chain(Dense(1, 5, σ), Dense(5, 2))` output neural network should be of the same dimension as u0.

[2020-04-21 18:42] ChrisRackauckas commented on #80
So yeah actually, looking again... it's user error. Two errors to be exact. And the fact that the fix "works" is why it needs to be reverted. Let me explain.

The issue is `chain = Flux.Chain(Dense(1, 5, σ), Dense(5, 1))` the chain only has one output, so it's not correctly a neural network representing `u(t)` since `u(t) = [x(t),y(t)]`. So first of all, that needs to change to `Flux.Chain(Dense(1

[2020-04-21 18:48] ashutosh-b-b commented on #80
I think there's no need to put an update with `.+` or reshape then.

[2020-04-21 18:49] KirillZubov commented on #80
yep, I will push back the changes

[2020-04-21 18:54] vavrines commented on #80
Thx for pointing out that and all the discussions : )

[2020-04-21 18:57] ChrisRackauckas commented on #80
I wonder if we can throw a better error here, since that error is quite obscure...

[2020-05-11 23:50] ChrisRackauckas opened #85 "Make a real documentation"
Now that DiffEqFlux, ModelingToolkit, Surrogates, etc. all have one, NeuralNetDiffEq needs to get one.

Remaining documentation changes:

- [ ] Split the tutorials into separate ones on the sidebar. Have "copy-pastable code" on top, explained code below.
- [ ] Tutorials for the neural network ODE solver by using the tests
- [ ] More explanation in the deep BSDE methods as to where they come from a

[2020-05-22 12:47] TeAmP0is0N commented on #85
@ChrisRackauckas I would like to work on it. Thank you!

[2020-05-28 09:53] finmod commented on #19
@ChrisRackauckas The implementation of the Deep Galerkin Method algorithm and codes is here: https://github.com/alialaradi/DeepGalerkinMethod .  Would be nice to compare DGM with PDEHan and PDENS

[2020-05-28 15:40] TeAmP0is0N opened #88 "Method error"
https://github.com/SciML/NeuralNetDiffEq.jl/blob/80045e0c6332e1d3a160b7b42d7390c457abaa31/test/NNODE_tests.jl#L16
[code]

[code]

[2020-05-28 15:44] TeAmP0is0N commented on #88
@ChrisRackauckas Please have a look. I am not getting this correctly.

[2020-05-28 16:54] ChrisRackauckas commented on #88
`]st`?

[2020-05-28 17:05] TeAmP0is0N commented on #88
[code]

[2020-05-28 18:41] ChrisRackauckas commented on #14
@JuliaRegistrator register()

[2020-05-28 18:41] JuliaRegistrator commented on #14
Registration pull request created: [JuliaRegistries/General/15538](https://github.com/JuliaRegistries/General/pull/15538)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2020-05-28 18:43] ChrisRackauckas commented on #88
I think this is a versioning issue. I put a patch in. v1.5 of NeuralNetDiffEq should get released in about 1 hour and you should update and we should see if that fixes it. Your Optim should be v0.21: I think that's the cause of all of your problems. Why your Optim is such an older version is a big question, but hopefully it's just some Compat thing that was caused by NeuralNetDiffEq missing a tag.

[2020-05-28 19:49] TeAmP0is0N commented on #88
Yeah, I updated `Optim` but I am getting `Optim v0.20.1` not `Optim v0.21.1` .

[2020-05-28 19:49] ChrisRackauckas commented on #88
can you try `]add Optim@0.21.0` and see what it throws?

[2020-05-28 19:51] TeAmP0is0N commented on #88
[code]

[2020-05-28 19:52] ChrisRackauckas commented on #88
Remove Gadfly.

[2020-05-28 20:02] TeAmP0is0N commented on #88
Yeah, removed and got optim 0.21.0

[2020-05-28 20:02] ChrisRackauckas commented on #88
Then restarting Julia fixed it?

[2020-05-28 20:07] TeAmP0is0N commented on #88
No, it throws this.
[code]

[2020-05-28 20:10] ChrisRackauckas commented on #88
Permissions issues?

[2020-05-28 20:10] TeAmP0is0N commented on #88
Yeah, I have resolved this issue.

[2020-05-28 20:14] TeAmP0is0N commented on #88
Yeah, it worked. Now, everything has resolved. Thanks a lot. It's ready to go.

[2020-05-28 20:15] ChrisRackauckas commented on #88
Awesome!

[2020-05-28 20:15] #88 closed

[2020-05-29 19:19] finmod opened #91 "Failed to precompile Zygote"
@ChrisRackauckas I have been trying for some time to run your tests locally and I keep bumping against the pre-compiling error below. Please give an indication about the correct configuration of Zygote and dependencies to pass this point.

using Flux, Zygote, LinearAlgebra, Statistics
using Test, NeuralNetDiffEq
println("NNPDEHAN_tests")

Info: Precompiling Flux [587475ba-b771-5e3f-ad9e-33799f191a

[2020-05-29 19:22] ChrisRackauckas commented on #91
What's your `]st`? and `]st -m`?

[2020-05-29 19:23] ChrisRackauckas commented on #91
oh it's ZygoteRules in DiffEqBase, but that shouldn't be too much of an issue?

[2020-05-29 19:36] finmod commented on #91
] st
   _       _ _(_)_     |  Documentation: https://docs.julialang.org
  (_)     | (_) (_)    |
   _ _   _| |_  __ _   |  Type "?" for help, "]?" for Pkg help.
  | | | | | | |/ _` |  |
  | | |_| | | | (_| |  |  Version 1.4.1 (2020-04-14)
 _/ |\__'_|_|_|\__'_|  |  Official https://julialang.org/ release
|__/                   |

(@v1.4) pkg> st
Status `C:\Users\Denis\.julia\environments\v1.4\Proj

[2020-05-30 03:48] ChrisRackauckas commented on #91
Open an issue on Zygote. That shouldn't be happening

[2020-05-30 19:02] #91 closed

[2020-06-11 21:39] #45 closed

[2020-06-16 09:51] zzj0402 commented on #44
Working on reading the paper and replicating their result in the codebase.

[2020-06-18 16:52] ChrisRackauckas opened #100 "Tensor network equation discovery"
https://arxiv.org/abs/2002.12388

[2020-06-20 03:59] ChrisRackauckas commented on #14
@JuliaRegistrator register()

[2020-06-20 03:59] JuliaRegistrator commented on #14
Registration pull request created: [JuliaRegistries/General/16657](https://github.com/JuliaRegistries/General/pull/16657)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2020-06-20 20:40] finmod commented on #52
An update on deep backward multistep schemes for nonlinear PDEs from the team mentioned above: https://arxiv.org/pdf/2006.01496.pdf

[2020-06-24 05:43] zzj0402 commented on #85
What's the progress on documentation? I am available for splitting some workload.

[2020-06-24 14:06] ChrisRackauckas commented on #85
Look at DiffEqFlux for where we want to go: https://diffeqflux.sciml.ai/dev/. That said, the current state is... https://github.com/SciML/NeuralNetDiffEq.jl/tree/master/docs . There hasn't been much progress made but we just need someone to just get started on it. The first thing to do would be to get docstrings setup and tutorials written.

[2020-06-25 19:03] finmod commented on #100
@ChrisRackauckas This belongs more in DataDrivenDiffEq than here.

[2020-06-26 00:47] zzj0402 commented on #85
Where is the neuralnetdiffeq.sciml.ai ? Documentation on SciML directs to github. I am looking at diffeqflux for the documentation structure.

[2020-06-26 04:47] ChrisRackauckas commented on #100
agreed

[2020-06-26 05:24] ChrisRackauckas commented on #85
I need to set that up in the DNS. I'll have it done by tonight.

[2020-06-26 05:26] ChrisRackauckas commented on #85
The DNS is enabled, but I forgot we hadn't setup deployment here yet. @kanav99 that's all you.

[2020-06-30 08:12] zzj0402 commented on #44
https://julialang.slack.com/archives/C6A044SQH/p1593504459281700

[2020-06-30 11:51] #53 closed

[2020-07-06 04:20] Rish001 commented on #19
is this issue still active?

[2020-07-06 04:21] Rish001 commented on #21
Hi I would like to work on this

[2020-07-07 15:55] ChrisRackauckas commented on #21
Sounds great!

[2020-07-07 15:56] ChrisRackauckas commented on #19
yes

[2020-07-08 03:13] Rish001 commented on #21
Is there any general guideline for developing the implementation? Should I  start with a minimal solution first for review which would be iteratively revised? Do I have to write testcases?

[2020-07-08 03:17] ChrisRackauckas commented on #21
Start by developing and solving one test case

[2020-07-11 08:55] finmod opened #112 "PINNs solver applied to existing problem tests"
@KirillZubov and @ashutosh-b-b  The PINN solver is a major step forward in terms of readability of the PDE problem investigated. It would be extremely useful to apply/merge it to the existing test problems in NeuralNetDiffEq. Also in the test problems, now that the backward Kolmogorov equation is up and running, the Fokker-Planck (FP) equation is an obvious addition and then Mean Field Game which

[2020-07-11 19:05] ChrisRackauckas commented on #112
Where did the mean field game issue go?

[2020-07-11 19:52] ChrisRackauckas commented on #85
I think the major push is done here, so let's now start to handle the details.

[2020-07-11 19:52] #85 closed

[2020-07-11 19:52] ChrisRackauckas commented on #85
Thanks @zzj0402 !

[2020-07-11 20:26] ChrisRackauckas commented on #23
Completed by @ashutosh-b-b

[2020-07-11 20:26] #23 closed

[2020-07-11 20:26] ChrisRackauckas commented on #22
Completed by @ashutosh-b-b

[2020-07-11 20:26] #22 closed

[2020-07-11 20:26] ChrisRackauckas commented on #26
Completed by @ashutosh-b-b

[2020-07-11 20:26] #26 closed

[2020-07-11 20:27] ChrisRackauckas commented on #80
This was fixed and we forgot to close the issue.

[2020-07-11 20:27] #80 closed

[2020-07-11 20:28] ChrisRackauckas commented on #112
Indeed, now that it's starting to get documented, feel free to just post some test problems and see if it's working on them. We need to keep pushing the strategies in different ways. https://github.com/SciML/NeuralNetDiffEq.jl/issues/46 is still the most puzzling thing!

[2020-07-12 20:30] finmod commented on #112
The https://github.com/EmoryMLIP/MFGnet.jl/issues/2 has been idle since March 2 but NeuralNetDiffEq is close to solving this one without looking over their shoulders.

I suggest addressing all the test models from here: https://arxiv.org/pdf/1811.08782.pdf. You have already dealt with the DGM method very efficiently in the PNAS paper. Nevertheless, the set of test problems is good. NeuralNetDiffEq

[2020-07-15 13:57] ChrisRackauckas opened #117 "Rename?"
I am wondering if this package should get a snappier name. NeuralPDE.jl? PhysicsInformedML.jl?

[2020-07-16 12:55] ChrisRackauckas opened #118 "Slight refactoring of PINNs"
It differs slightly from the intended interface. It would be good to get this corrected before doing more development. The `discretize` function is intended to produce a common numerical problem so that alternative numerical tools can be used. Here, the separation of concerns is broken because there is only one solver available because it creates an uncommon `NNPDEProblem`. What this should instea

[2020-07-18 19:11] KirillZubov commented on #118
ok

[2020-07-19 15:27] ashutosh-b-b commented on #117
the former looks nice

[2020-07-19 15:28] ChrisRackauckas commented on #117
PhysicsInformedNN.jl, PINN.jl

[2020-07-19 15:55] freemin7 commented on #117
I would also be for NeuralPDE.jl

[2020-07-19 16:35] jonniedie commented on #117
NeuralPDE for me

[2020-07-19 17:06] ChrisRackauckas commented on #117
Setting it up: https://github.com/SciML/NeuralNetDiffEq.jl/pull/121 . Waiting for some more comments before pulling the trigger

[2020-07-19 20:10] ChrisRackauckas commented on #117
Done, that seemed pretty unanimous.

[2020-07-19 20:10] #117 closed

[2020-07-19 21:16] ChrisRackauckas opened #122 "Documentation needs graphics for the tutorials"
Some canonical plotting code and demonstration of the result is required with each of the tutorials

[2020-07-20 13:36] ahenkes1 opened #123 "Error in NNRODE test routine"
running `]test NeuralPDE` I get the following error:

`NNRODE: Test Failed at /home/ah/.julia/packages/NeuralPDE/xidim/test/NNRODE_tests.jl:33
  Expression: err < 0.4
   Evaluated: 0.541088f0 < 0.4
Stacktrace:
 [1] top-level scope at /home/ah/.julia/packages/NeuralPDE/xidim/test/NNRODE_tests.jl:33
 [2] include(::Module, ::String) at ./Base.jl:377
 [3] include(::String) at /home/ah/.julia/packages/

[2020-07-20 13:40] ChrisRackauckas commented on #123
Yes, they are continuous integration tests. No continuous integration service has GPUs. We have new continuous integration tools which will spot check GPU support, but that won't be in the standard test suite of course.

The convergence is quite close, but it is currently too random due to initial NN parameters. @ashutosh-b-b knows about the issue and is set to improve the test.

[2020-07-20 14:00] ahenkes1 commented on #123
Maybe a regularized loss as in [https://arxiv.org/abs/2004.01806](url) would be an option. The convergence is slower, but more stable.

[2020-07-21 05:06] zzj0402 commented on #44
- [ ] understand Julia neural network training
- [ ] experiment on Julia transformer
- [ ] replicate the torch model
- [ ] replicate the torch training utilities
- [ ] replicate prediction utility

[2020-07-21 07:53] zzj0402 commented on #44
https://github.com/chengchingwen/Transformers.jl/issues/11

[2020-07-23 13:15] ChrisRackauckas commented on #8
@JuliaRegistrator register()

[2020-07-23 13:15] JuliaRegistrator commented on #8
Registration pull request created: [JuliaRegistries/General/18338](https://github.com/JuliaRegistries/General/pull/18338)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2020-07-23 14:07] #122 closed

[2020-07-24 19:07] rkube opened #128 "Array error in 2D poisson example"
Hi,
I'm trying to run the 2D poisson example but always get a BoundsError when running it. Any ideas?
Thanks.

julia> phi, res = solve(prob, alg, verbose=true, maxiters=5000)
ERROR: BoundsError: attempt to access 1-element Array{Int64,1} at index [2]
Stacktrace:
 [1] getindex at ./array.jl:788 [inlined]
 [2] adjoint at /Users/ralph/.julia/packages/Zygote/1GXzF/src/lib/array.jl:37 [inlined]
 [3] _p

[2020-07-24 22:48] ChrisRackauckas commented on #128
What version are you running?

[2020-07-26 14:51] KirillZubov commented on #128
Yeap, it was the mistake in the example. The tests were updated but docs are not.
I fixed it in [this commit.](https://github.com/SciML/NeuralPDE.jl/commit/c130be2ab37df425d75ac8019d8e16c5ddac6b06 )
@rkube thanks for point out this error.

[2020-07-26 14:58] rkube commented on #128
@KirillZubov The example is working now, thanks. I'm running Julia 1.4.2.

[2020-07-26 14:58] #128 closed

[2020-07-30 01:09] asdasdqwdqwfsdf opened #129 "third derivative"
how can we define **third derivative** (2D/3D) in NeuralPDE?

Thanks for your support in advance!

Best regards!

[2020-07-31 13:06] KirillZubov commented on #129
@asdasdqwdqwfsdf  do you mean PINNs ?

[2020-07-31 19:49] asdasdqwdqwfsdf commented on #129
@KirillZubov  I would like to use PINNs for solving high order problems.

[2020-07-31 19:52] ChrisRackauckas commented on #129
@KirillZubov I think you're confused because you implemented it already. But, you forgot to add it to the docs, so this is mostly a docs issue for just creating an example with higher order derivatives. It's the same as before: `@derivative D'''~x`, but yes we should probably have an example. I'd suggest K-S.

[2020-07-31 19:56] asdasdqwdqwfsdf commented on #129
@ChrisRackauckas  thanks!

[2020-07-31 20:11] KirillZubov commented on #129
@ChrisRackauckas ok, it will be done. Also then it is worth adding at docs an example with systems of PDE and an example with Neumann boundary conditions

[2020-07-31 20:14] asdasdqwdqwfsdf commented on #129
@KirillZubov  thanks for your support!

[2020-08-04 18:27] seadra opened #131 "Matrix PDEs"
Any chance this NeuralPDE.jl can be eventually used with (complex) matrix PDEs?

Currently,

[code]

gives an error

<blockquote>
MethodError: no method matching ~(::Operation, ::Array{Operation,2})

Closest candidates are:

  ~(::Expression, !Matched::Expression) at /home/user/.julia/packages/ModelingToolkit/jYRzA/src/equations.jl:38

  ~(::Expression, !Matched::Number) at /home/user/.julia/packa

[2020-08-06 01:00] asdasdqwdqwfsdf commented on #128
@KirillZubov  can we solve **solid mechanics** problems by using "NeuralPDE.jl "?

[2020-08-06 06:51] ChrisRackauckas commented on #131
What do you want that equation to say? I don't understand the equation.

[2020-08-06 22:39] seadra commented on #131
Sorry about the lack of details in the example. `u` is supposed to be a 4x4 matrix in the equation, although I couldn't find a way to specify it.

In practice, though, the kind of PDE I'm after is a complex vector equation (like Schrodinger equation with spin) where the Hamiltonian is a position-dependent matrix.

[2020-08-07 01:29] ChrisRackauckas commented on #131
`@variables u[1:4,1:4]` and

[code]

?

[2020-08-07 16:42] seadra commented on #131
Thanks for the response!
I just tried it, but it's giving an error:

[code]

[2020-08-08 01:13] ChrisRackauckas commented on #131
I don't think support for systems has been tagged yet, but @KirillZubov you might want to test on this one.

[2020-08-08 20:42] KirillZubov commented on #131
Hi @seadra, the matrix PDEs form isn't supported for PINNs yet. But it will be implemented.

[2020-08-08 20:45] ChrisRackauckas commented on #131
A matrix is just a system when you `vec` it, so once systems of PDEs are done this should be done.

[2020-08-08 20:52] KirillZubov commented on #131
ok, I will add this feature soon. Actually yes, it should be easy to implement.

[2020-08-09 11:05] KirillZubov commented on #131
@seadra @ChrisRackauckas I'm sorry,
Actually, matrix PDE is already supported.
Here's an example that runs:

[code]
I'll double-check this task again when I move to generalize the parser.

[2020-08-12 09:26] KirillZubov commented on #128
@asdasdqwdqwfsdf  yes, you can, but the possibilities for creating geometry are still quite limited. But we are working on it.

[2020-08-12 09:59] asdasdqwdqwfsdf commented on #128
@KirillZubov  if we have "NeuralPDE.jl " examples for 2D  solid mechanics  with Neumann + Dirichlet BCs , it could be very helpful!

[2020-08-12 10:13] KirillZubov commented on #128
@asdasdqwdqwfsdf  https://neuralpde.sciml.ai/dev/examples/pinns_example/#Example-2-:-Solving-the-2-dimensional-Wave-Equation-with-Neumann-boundary-condition-1

[2020-08-12 10:48] asdasdqwdqwfsdf commented on #128
@KirillZubov nice examples, thanks! .:)

[2020-08-12 10:50] asdasdqwdqwfsdf commented on #131
@ChrisRackauckas can we test/run the "NeuralPDE.jl" examples in Binder Julia?

[2020-08-12 19:18] ChrisRackauckas commented on #131
That should be possible.

[2020-08-12 20:51] #118 closed

[2020-08-13 09:24] ChrisRackauckas commented on #14
@JuliaRegistrator register()

[2020-08-13 09:24] JuliaRegistrator commented on #14
Registration pull request created: [JuliaRegistries/General/19422](https://github.com/JuliaRegistries/General/pull/19422)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2020-08-14 01:01] asdasdqwdqwfsdf commented on #129
@KirillZubov  from the new example "3rd order derivative", the difference between numerical one and analytical one is large, why?

[2020-08-14 03:23] asdasdqwdqwfsdf opened #134 "periodic boundary conditions"
Hello,

how can we define the **periodic boundary conditions** in "NeuralPDE.jl"? For example:  **_2D Poisson equation with periodic boundary conditions:_**
[https://fenicsproject.org/docs/dolfin/1.4.0/python/demo/documented/periodic/python/documentation.html]

Thanks in advance!

[2020-08-14 10:18] KirillZubov commented on #129
@asdasdqwdqwfsdf  Currently, the high-order numerical derivative is poorly stable in the learning process. It should work better when we improve the learning strategy and support automatic differentiation.

[2020-08-14 10:47] asdasdqwdqwfsdf commented on #129
@KirillZubov thanks for your reply!

what is limit for the highest order derivative, 10th order derivative, 100th order derivative or 10000th order derivative?

[2020-08-14 11:34] KirillZubov commented on #129
@asdasdqwdqwfsdf  actually 4th already is a challenge.

[2020-08-14 13:08] #129 closed

[2020-08-14 13:16] KirillZubov commented on #134
@asdasdqwdqwfsdf

#Example 2, 2D Poisson equation with periodic boundary conditions
@parameters x y θ
@variables u(..)
@derivatives Dxx''~x
@derivatives Dyy''~y

# 2D PDE
eq  = -(Dxx(u(x,y,θ)) + Dyy(u(x,y,θ))) ~ x*sin(5.0*π*y)+exp(-((x-0.5)^2+(y-0.5)^2)/0.02)

# Initial and boundary conditions
bcs = [#Dirichlet boundary
       u(x,0,θ) ~ 0.,
       u(x,1,θ) ~ 0.,
       #Periodic boundary
       u

[2020-08-23 18:48] KirillZubov commented on #129
@asdasdqwdqwfsdf I guess, yes, but I haven't tested this equation.

[2020-08-26 18:07] KirillZubov commented on #129
hi, @asdasdqwdqwfsdf probably, it will be interesting for you to look at this example with 4th order derivative. https://neuralpde.sciml.ai/dev/examples/pinns_example/#Example-7-:-Kuramoto%E2%80%93Sivashinsky-equation-1

[2020-08-28 14:19] finmod opened #138 "Example 7 of PINN: Kuramoto–Sivashinsky equation"
@KirillZubov  Congratulations for the efforts and results in developing PINNs from scratch.

Your example 7 should be benchmarked both in terms of method and computer efficiency against the same test model in JuliaDynamics developed by @Datseris and @JonasIsensee https://juliadynamics.github.io/TimeseriesPrediction.jl/dev/stexamples/ possibly using the same type of plots.

[2020-08-28 14:32] KirillZubov commented on #138
@finmod  ok, thanks.

[2020-08-28 17:53] sinia opened #139 "README.md link to stable documentation not working"
README.md contains a link to [stable documentation](https://neuralpde.sciml.ai/stable/), which does not exist ("404 Page not found"):

[in-development documentation](https://neuralpde.sciml.ai/dev/) for the version of the documentation, which contains the unreleased features.

[2020-09-03 18:39] ChrisRackauckas opened #140 "Multi-GPU and distributed demonstrations of PINNs"
Multi-GPU should "just work" through distributed, so we should make sure to have a demo of this.

[2020-09-03 18:43] ChrisRackauckas commented on #140
@leios would it be a good idea to use Clima tools here, or build something off of distributed arrays of CuArrays?

[2020-09-05 10:41] AzamatB opened #141 "GPU training does not work with at least Flux optimizers"
Consider an example from the docs demonstrating GPU training: https://neuralpde.sciml.ai/dev/examples/pinns_example/#Example-8-:-Fokker-Planck-equation-with-GPU-acceleration-1

If we call it with Flux's optimizers, for example, like `GalacticOptim.solve(prob, ADAM())` then that dispatches to [this](https://github.com/SciML/GalacticOptim.jl/blob/ff0cc8df62113d09adbd83236fecd474665ea0f2/src/solve.jl

[2020-09-05 11:46] AzamatB commented on #141
So it looks like currently to train on GPU you have to explicitly initialize neural net parameters and move them to GPU and then pass those to `PhysicsInformedNN` like
[code]
Here is the full reproducible example
[code]
which now throws an error:
[code]

<details>
  <summary>Full trace</summary>
  julia> res = GalacticOptim.solve(prob, Flux.ADAM(); cb = cb)
  ERROR: ArgumentError: cannot take the

[2020-09-05 11:49] AzamatB commented on #141
I can prepare a PR fixing this if someone can explain what is the issue here and how to fix it

[2020-09-05 12:02] ChrisRackauckas commented on #141
You didn't call `discretize` in your example.

[2020-09-05 12:14] AzamatB commented on #141
Ah, I did call it, but it was a pasting typo. I've edited the example. The reported error still persists

[2020-09-05 17:02] ChrisRackauckas commented on #141
Are you on the latest version? It looks like it should just work.

[2020-09-05 17:02] ChrisRackauckas commented on #141
Oh, the changes are on master. Let me tag.

[2020-09-05 17:15] ChrisRackauckas commented on #8
@JuliaRegistrator register()

[2020-09-05 17:15] JuliaRegistrator commented on #8
Registration pull request created: [JuliaRegistries/General/20901](https://github.com/JuliaRegistries/General/pull/20901)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2020-09-06 06:27] AzamatB commented on #141
I'm on the master for both `NeuralPDE` and `GalacticOptim`:
[code]
Again, here is the example, which is the same as above (but without comments) and it still throws the error
[code]
The last line throws
[code]

[2020-09-07 00:43] ChrisRackauckas commented on #141
Yes, the current GPU tests are not actually on the GPU (@KirillZubov). The issue is the training data. The training dataset generates a bunch of CPU-bond arrays. There's a few issues with that. For one, there's no reason to generate the arrays: with that training strategy they can be left as lazy arrays. That's necessary because those are the biggest use of memory, so the current strategy won't ev

[2020-09-07 01:59] ChrisRackauckas commented on #14
@JuliaRegistrator register()

[2020-09-07 01:59] JuliaRegistrator commented on #14
Registration pull request created: [JuliaRegistries/General/20973](https://github.com/JuliaRegistries/General/pull/20973)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2020-09-07 15:40] KirillZubov commented on #141
@AzamatB thanks for point out this bug.
@ChrisRackauckas ok, I try to fix it this week.

[2020-09-14 16:09] AzamatB commented on #141
Bump. Would be great to resolve this.

[2020-09-16 20:31] zzj0402 opened #146 "Cyclops Error with Julia 1.1"
[code]

[2020-09-16 20:36] ChrisRackauckas commented on #146
CuArrays.jl is the old old way and you should remove it and use CUDA.jl instead.

[2020-09-16 20:42] zzj0402 commented on #146
How to modify that? What's the proper way to modify dependency in a package?

[2020-09-16 20:52] ChrisRackauckas commented on #146
Oh, I see the issue.. NeuralPDE.jl requires Julia v1.3 for any of its recent versions.

https://github.com/SciML/NeuralPDE.jl/blob/master/Project.toml#L44

The solution here is to just not use Julia v1.1 for this package. We don't plan to support v1.1 since it doesn't have all of the parallel primitives that we use, and it hasn't been available as a standard download for a few years. Any codes wri

[2020-09-16 20:53] ChrisRackauckas commented on #146
I'll close this since we don't plan to support v1.1, but feel free to continue discussion of course.

[2020-09-16 20:53] #146 closed

[2020-09-21 14:14] LucasPa opened #148 "Parameters identification"
Hi,

First of all congratulations for developing the NeuralPDE package!  I have been playing around the different examples and tutorials and although I am new at Julia, I have been able to solve some PDEs that interest me.

I would like now to do parameters identifications. For instance using PINNs to identify the value of an unknown coefficient in a PDE from measured data. Is it possible to solve

[2020-09-21 14:17] ChrisRackauckas commented on #148
For now you'll want to use https://diffeqflux.sciml.ai/dev/ directly for that, but this will be something added to the PINNs.

[2020-09-21 14:57] LucasPa commented on #148
Thank you Chris for your answer. Then I will have a look at DiffEqFlux and see how I can use that to perform identification as in :

[2020-09-21 15:00] ChrisRackauckas commented on #148
It won't be the same as though, though it will be an order of magnitude more efficient: PINNs are a very slow way to calculate things. I'd recommend the tutorial https://diffeqflux.sciml.ai/dev/examples/pde_constrained/

[2020-09-21 15:47] LucasPa commented on #148
OK I will have a look to this example and see how I can adapt this to my needs.

Thanks a lot !

[2020-09-23 09:52] LucasPa commented on #148
Hi Chris,

Thanks for the hint. I have been trough and many other examples but I am not sure that diffeqflux can actually help me. I would like to identify to identify the coefficients of a Robin boundary condition of a two-dimensional PDE (that only involves x- and y-derivatives and t-derivative) from known data.

Best,

Lucas

[2020-09-23 11:41] KirillZubov opened #149 "Improving derivatives parser"
At the moment, to support expressions with derivatives that directly depend on the function of the neural network.

[code]

[code]
The goal is support expression of derivatives of a wider type that have inner dependence on functions and constants.

Sample:
[code]

or

[code]

[2020-09-24 11:15] ChrisRackauckas commented on #148
You'd just track the parameter in the boundary condition. It's no different from any other parameter.

I'm going to reopen this for tracking adding this to the PINNs though, since it's still something we'll want to do for completeness.

[2020-09-26 15:59] rozsasarpi opened #150 "Support automatic differentiation of the NN inside the loss function?"
I saw that you plan to support automatic differentiation of the NN inside the loss function. Do you have a plan/roadmap for this? I'm interested to look into how this could be done so if you have some code snippets and/or notes on this please share them.

[2020-09-27 01:21] ChrisRackauckas commented on #150
The problem is that the most efficient way to do this is to use forward-mode inside of the loss function and then reverse over that. Using ForwardDiff in here kind of works, but it requires a few workaround and hard to generalize. But Zygote got a forward mode: https://github.com/FluxML/Zygote.jl/pull/503 . It needs a few more things to be fully compatible with standard NNs people want to use for

[2020-09-29 15:09] AxlaDesign opened #152 "Finite differences performance"
Going back to this thread:
https://discourse.julialang.org/t/diffeqflux-autodifferentiating-inside-loss-function/47203

I've been cannibalizing some code from NeuralPDE to perform numerical differentiation inside a loss function for scientific machine learning:

[code]
And then in the loss function:
[code]

This approach gave a good result, but made the whole training take approximately 30% longer

[2020-09-30 13:53] ChrisRackauckas commented on #152
Yeah, it's these untyped containers that are killing the performance: https://github.com/SciML/NeuralPDE.jl/blob/master/src/pinns_pde_solve.jl#L117 they need to be replaced with `map` calls.

[2020-09-30 15:02] begoat opened #153 "Fail to run the example"
I just followed tutorial with a fresh install of Julia 1.5.2(MAC) and added `NeuralPDE `

---

After running [example](https://github.com/SciML/NeuralPDE.jl#example-solving-2d-poisson-equation-via-physics-informed-neural-networks), I came across a error.

the error log is
[code]

![2631601478054_ pic_hd](https://user-images.githubusercontent.com/22862294/94702853-d03fe180-0370-11eb-8489-7814f87035

[2020-09-30 20:29] ChrisRackauckas commented on #153
Thanks. It was missing a `using Flux` in that example. Now fixed.

[2020-09-30 20:29] #153 closed

[2020-10-01 00:16] asdasdqwdqwfsdf opened #154 "how to set a random initial value"
how can we set a **random initial value** in "NeuralPDE.jl", e.g. Poisson's Equation in 2D?

Thanks in advance!

[2020-10-01 02:47] ChrisRackauckas commented on #154
A random initial set of parameters for the neural network?

[2020-10-01 07:17] asdasdqwdqwfsdf commented on #154
@ChrisRackauckas

something looks like
"
[code]
-cite(https://fenicsproject.org/docs/dolfin/1.4.0/python/demo/documented/cahn-hilliard/python/documentation.html)

[2020-10-01 07:34] ChrisRackauckas commented on #154
When setting the boundary condition like

[code]

just use some random numbers.

[2020-10-01 08:31] #154 closed

[2020-10-02 02:17] ChrisRackauckas opened #155 "Automatic weighting between equations"
@vedhus pointed me to https://arxiv.org/pdf/1705.07115.pdf which is a method for adaptive weighting. This can be used to weight between the various PDEs and help handle differences in relative sizing of the terms.

[2020-10-03 20:16] ChrisRackauckas commented on #14
@JuliaRegistrator register()

[2020-10-03 20:17] JuliaRegistrator commented on #14
Registration pull request created: [JuliaRegistries/General/22369](https://github.com/JuliaRegistries/General/pull/22369)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2020-10-04 10:37] ChrisRackauckas commented on #14
@JuliaRegistrator register()

[2020-10-04 10:37] JuliaRegistrator commented on #14
Registration pull request created: [JuliaRegistries/General/22389](https://github.com/JuliaRegistries/General/pull/22389)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2020-10-04 14:14] bhilloul opened #161 "GridTraining not defined in PhysicsInformedNN"
Dear all,
Thank you very much for your very impressive work.
I am a complete beginner in NeuralPDE and I was trying to test the package (version 2.4.1). When I run example 1 as defined in https://neuralpde.sciml.ai/dev/examples/pinns_example/#Example-1:-Solving-the-2-dimensional-Poisson-Equation-1 I face the error "GridTraining not defined" when I write "discretization = NeuralPDE.PhysicsInformedN

[2020-10-04 16:41] bhilloul commented on #161
Sorry, it was an Atom problem... Thank you very much again for your work!

[2020-10-04 16:41] #161 closed

[2020-10-04 16:45] ChrisRackauckas commented on #161
No problem!

[2020-10-07 00:34] #152 closed

[2020-10-07 15:21] ChrisRackauckas commented on #14
@JuliaRegistrator register()

[2020-10-07 15:21] JuliaRegistrator commented on #14
Registration pull request created: [JuliaRegistries/General/22532](https://github.com/JuliaRegistries/General/pull/22532)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2020-10-22 20:45] azev77 opened #165 "Add fundamental HJB example to readme?"
In Jan 2018 @MaximilianJHuber posted a [question ](https://discourse.julialang.org/t/solving-a-pde-which-comes-from-an-hjb-in-differentialequations-jl/8617?u=albert_zevelev)about (one of) the most common PDEs that economists encounter.

![image](https://user-images.githubusercontent.com/7883904/96928023-f7786300-1485-11eb-93ea-3288cc4ab35e.png)

Is NeuralNetPDE.jl ready to solve this type of probl

[2020-10-22 21:35] ChrisRackauckas commented on #165
Is it the example a terminal PDE?

[2020-10-23 00:20] azev77 commented on #165
Do you mean is this a boundary value problem?
Yes. See @matthieugomez's [lecture slides](https://www.matthieugomez.com/files/GR6808/consumption.pdf).

Here is the corrected pde:
![image](https://user-images.githubusercontent.com/7883904/96942721-eb9b9980-14a3-11eb-81a2-7835884e2aaf.png)

[2020-10-28 09:16] FredericN opened #168 "NeuralPDE.NNODE non existing while used in the documentation"
The first example of NeuralPDE fails. It is easy to correct:
Add : "using DifferentialEquations"
Change "NeuralPDE.NNODE(chain, opt)" to "NeuralPDE.NNRODE(chain, opt)"
The following line
@time sol = solve(prob, NeuralPDE.NNODE(chain, opt), dt=1 / 20f0, verbose=true,
                   abstol=1e-10, maxiters=200)
in the documentation fails due to
ERROR: UndefVarError: NNODE not defined

[2020-11-05 02:41] azev77 commented on #165
@ChrisRackauckas  Here is the simplest example:
<img width="446" alt="image" src="https://user-images.githubusercontent.com/7883904/98191017-4c849200-1ee6-11eb-9fde-84f0e93a6faa.png">

[2020-11-05 03:36] azev77 commented on #165
Here is my attempt:
[code]
I get
[code]

[2020-11-05 08:40] ChrisRackauckas commented on #165
You probably want to do ADAM before BFGS.

[2020-11-05 09:02] azev77 commented on #165
Sorry, I don't know how to do that

[2020-11-05 19:22] azev77 commented on #165
@ChrisRackauckas if my pde only has first-order derivatives, V_t, V_a, do I only need one boundary condition?
(I think so)

[2020-11-05 20:25] ChrisRackauckas commented on #165
Yes. You can overconstrain it if you want though.

[2020-11-05 20:25] ChrisRackauckas commented on #165
Things like: https://diffeqflux.sciml.ai/dev/examples/neural_ode_sciml/ . 300 iterations of ADAM and then BFGS. Etc.

[2020-11-06 22:27] azev77 commented on #165
Same error w/ ADAM:
[code]

I think the issue is that the pde has terms like <img width="80" alt="image" src="https://user-images.githubusercontent.com/7883904/98420404-1ca7cc80-2055-11eb-92df-aa7fb8308dcf.png">

[2020-11-06 22:57] matthieugomez commented on #165
Maybe you can try doing max(eps(), va)^(-1/gamma) to avoid this?

On Fri, Nov 6, 2020 at 2:28 PM azev77 <notifications@github.com> wrote:

[2020-11-07 02:49] azev77 commented on #165
@matthieugomez thanks!
Now it's working but very slow & inaccurate.
@ChrisRackauckas I'm able to use ADAM, but not sure how to combine ADAM w/ BFGS yet.

Issue here: https://discourse.julialang.org/t/solve-a-routine-economics-pde-from-an-hjb-w-modelingtoolkit/49718

[2020-11-07 04:38] azev77 commented on #165
Btw, if I do:
`max(0.0, va)^(-1/gamma)`: it looks good for the first few iter, then I get NaNs (dividing by 0)
`max(eps(), va)^(-1/gamma)`: it's slow & doesn't converge

[2020-11-07 21:20] ChrisRackauckas commented on #165
Is there a way in modeling toolkit to include this information? (as a constraint maybe?)

It's not MTK, it's the neural network. You want to constrain your neural network to only give positive values.

[code]

is one way to do it. Then V(dims...) is a positive function since the outputs are always the square of whatever comes out of a neural network.

[2020-11-07 21:20] ChrisRackauckas commented on #165
We could automate log transforms too. We don't do that right now though.

[2020-11-11 05:16] kookma opened #170 "[IDEA] Please add an installation instruction"
Not in readme.md nor in documentation page https://neuralpde.sciml.ai/dev/
there is no instruction for installing NeuralPDE.jl

Side note: Link to stable documentation https://neuralpde.sciml.ai/stable/ in readme.me is broken.

[2020-11-11 05:32] ChrisRackauckas commented on #170
You just do the standard Julia package installation: `]add NeuralPDE`. There's nothing special to it.

[2020-11-11 06:18] ChrisRackauckas commented on #170
I guess maybe if this is someone's first Julia package it might be useful, but it seems pretty niche for that? I'd assume most people would've used DifferentialEquations.jl before and want something pretty specific if they are going to neural PDE solvers. But we can add installation instructions anyways: it would essentially be a copy paste of any other description of how to add a package.

[2020-11-11 06:41] kookma commented on #170
@ChrisRackauckas Thank you for your reply! While it is clear for experienced user, I think newbies need to this small one line instruction! I appreciate to add this line in readme and/or Documentation.

[2020-11-11 06:44] ChrisRackauckas commented on #170
Let's keep it open until we do it. @mkg33 it might be good to pepper it around anyways.

[2020-11-11 14:18] dangirsh opened #171 "Support non-uniform dimensionality in dependent variables"
It doesn't seem like this library currently handles non-uniform dimensionality in the dependent variables. For example, if there's a `u(t, θ)` coupled to a `v(x, t, θ)`, the package crashes (see below).

This came up while working with the Pseudo-Two-Dimensional (P2D) aka Doyle-Fuller-Newman battery model. Some variable have `x` and `r` depenence, while others only have `x` dependence.

Here's a M

[2020-11-11 14:25] dangirsh opened #172 "Document / cleanup special theta (θ) parameter."
I was surprised to find that the θ parameter from the examples was a required symbol in the arguments to dependent variables. The existence of this symbol seems to be a [hard-coded assumption in _transform_derivative](https://github.com/SciML/NeuralPDE.jl/blob/f20b0b1089ffb77e80463bec5348e5d142e82a82/src/pinns_pde_solve.jl#L119).

If I renames or omit this symbol, I get the same error message as

[2020-11-11 16:00] KirillZubov commented on #172
yeah, θ is reserved for use. it needs to fix this bug. I'll do it tomorrow.

[2020-11-11 19:23] mkg33 commented on #170
@ChrisRackauckas I checked the broken link to the stable documentation. Indeed, it appears that the stable version doesn't exist yet. Is that so? If yes, shall we create it or leave out this link for now?

[2020-11-12 01:45] #170 closed

[2020-11-12 04:27] ChrisRackauckas commented on #172
So from the call it was cleared up that this theta is the neural network parameters and shouldn't be in the high level PDE description. It is not necessarily in the description in order for the NN method to generate the calls and it omits portability with the other PDE methods. So it can just be dropped from the description with the backend code being the same.

[2020-11-16 10:05] KirillZubov commented on #168
I checked. This example works ok without error.

[2020-11-16 13:19] ChrisRackauckas commented on #168
Yeah I missed this email, but it seems fine. Did you use Julia v1.5?

[2020-11-16 13:21] FredericN commented on #168
"This is quite strange. Here is the error I get on my laptop running Julia 1.4.3:

 @time sol = solve(prob, NeuralPDE.NNODE(chain, opt), dt=1 / 20f0, verbose=true,
                   abstol=1e-10, maxiters=200)
ERROR: UndefVarError: NNODE not defined
Stacktrace:
 [1] top-level scope at ./util.jl:175

More over, when I look for the functions of NeuralPDE starting with NN I get this

NNDE         NN

[2020-11-16 13:32] ChrisRackauckas commented on #168
Did you do `using NeuralPDE`?

[2020-11-16 13:32] ChrisRackauckas commented on #168
Wait, are you on the most recent version?

[2020-11-16 13:40] FredericN commented on #168
I have just updated Julia to version 1.5. and everything works smoothly. May be you could add a warning works only with Julia version >= 1.5?

[2020-11-16 13:41] ChrisRackauckas commented on #168
I just upped the lower bound in Project.toml.

[2020-11-16 13:41] #168 closed

[2020-11-16 13:42] FredericN commented on #168
Just done it with Julia v1.5 and it works fine.
Thanks,
Frédéric

—————————————————————————————————————
Frederic Nataf
Senior Scientist CNRS
Laboratoire Jacques Louis Lions, CNRS UMR 7598, Sorbonne Université, Campus Pierre et Marie Curie
Equipe Alpines à INRIA
HPDDM Open source project: https://github.com/hpddm
An Introduction to Domain Decomposition Methods: Algorithms, Theory and Parallel Imple

[2020-11-16 19:01] KirillZubov opened #176 "support ConstrainedEquation for PINNs"
Some examples of how this can be:
[code]

[2020-11-16 19:46] AzamatB commented on #141
Bump.

[2020-11-17 09:18] francescocalisto opened #177 "Embedding arrays into NeuralPDE differential equations"
There is currently no way to use an array-derived quantity in a NeuralPDE differential equation.

This is an example:

[code]
This doesn’t work at the moment. What one should be able to do is to get values from xGradMatrix and yGradMatrix as a function of the position.

[2020-11-18 13:48] dangirsh commented on #176
I understood the `ProductDomain` (`⊗`) to be intended for multidimensional variables - see the comment [here](https://github.com/SciML/DifferentialEquations.jl/issues/469#issue-456786103). A new abstraction is probably needed for non-contiguous domains as like in this example.

Note that for the P2D model, I've worked-around this issue by using a symbolic IfElse (see [here](https://github.com/SciM

[2020-11-18 14:23] dangirsh opened #178 "Handle Models with Intermediate Expressions"
I'm unable to solve symbolic models with intermediate expressions. I've tried specifying intermediate expressions within the list of equations, as well as in the boundary conditions. In both cases, the intermedate variable is unrecognized.

If there's a workaround (like specifying intermediate forms in the dependent variables list), please let me know. Handling complex models without this barebone

[2020-11-18 15:17] dangirsh commented on #178
@KirillZubov mentioned that this works if the intermediate variable (`w` in the example) is included in `depvars`.

We should probably:

1. Include a test case + example that has this.
2. Document the requirement of adding intermediate variables to `depvars`, and mention how it relates the to number of outputs of the network. It seems like the number of outputs is `length(domains)`, not `length(de

[2020-11-18 15:19] dangirsh commented on #178
Also, if possible, we might consider reserving `depvars` only for top-level variables, since the intermediate forms should be inferable / reduced from the model spec.

[2020-11-21 20:07] ChrisRackauckas commented on #14
@JuliaRegistrator register()

[2020-11-21 20:07] JuliaRegistrator commented on #14
Registration pull request created: [JuliaRegistries/General/25100](https://github.com/JuliaRegistries/General/pull/25100)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2020-11-21 20:37] JuliaTagBot opened #179 "TagBot trigger issue"
This issue is used to trigger TagBot; feel free to unsubscribe.

If you haven't already, you should update your `TagBot.yml` to include issue comment triggers.
Please see [this post on Discourse](https://discourse.julialang.org/t/ann-required-updates-to-tagbot-yml/49249) for instructions and more details.

If you'd like for me to do this for you, comment `TagBot fix` on this issue.
I'll open a PR

[2020-11-21 20:37] #179 closed

[2020-11-25 15:16] KirillZubov commented on #178
@dangirsh it was a surprise for me but `@register `from `ModelingToolkit` works fine with pinns.
Turns out that, we can already use the 'intermediate variable'.
here is an example:

[code]

[2020-11-25 15:17] KirillZubov commented on #178
I'll add this to the documentation.

[2020-11-25 17:25] ChrisRackauckas opened #180 "Symbolic Discretization version"
The code for NNPDE does two things: it builds a symbolic function and then generates the OptimizationProblem with it. But many times when debugging, we want to "see" the first part. So it would be good to have `prob = symbolic_discretize(pde_system,discretization)` which spits out the generated code.

[2020-11-25 23:27] #172 closed

[2020-11-26 18:17] ahenkes1 opened #181 "Tutorial not working"
I tried the 2D Poisson's equation Tutorial [()](https://neuralpde.sciml.ai/dev/examples/pinns_example/) and got the following error executing the solver:

`julia> res = GalacticOptim.solve(prob, BFGS(), progress = false; cb = cb, maxiters=1000)

ERROR: MethodError: no method matching Optim.Options(; extended_trace=true, callback=GalacticOptim.var"#_cb#25"{var"#1#2",BFGS{LineSearches.InitialStatic{

[2020-11-27 04:32] ChrisRackauckas commented on #181
Are you on Julia v1.5 with the latest versions of the packages? What is your `]st`?

[2020-11-27 08:47] ahenkes1 commented on #181
`(@v1.5) pkg> st
Status `~/.julia/environments/v1.5/Project.toml`
  [aae7a2af] DiffEqFlux v1.25.0
  [587475ba] Flux v0.11.2
  [a75be94c] GalacticOptim v0.4.2
  [961ee093] ModelingToolkit v4.0.6
  [315f7962] NeuralPDE v2.6.0
  [429524aa] Optim v1.2.0
`

[2020-11-27 08:50] ChrisRackauckas commented on #181
Oh, the dev tutorials are not the current release. I'll just tag.

[2020-11-27 08:51] ChrisRackauckas commented on #14
@JuliaRegistrator register()

[2020-11-27 08:51] JuliaRegistrator commented on #14
Registration pull request created: [JuliaRegistries/General/25377](https://github.com/JuliaRegistries/General/pull/25377)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2020-11-27 08:51] ChrisRackauckas commented on #181
Should be fixed by NeuralPDE release v2.7

[2020-11-27 08:51] #181 closed

[2020-11-27 09:41] ahenkes1 commented on #181
Error remains with new version:

`Status `~/.julia/environments/v1.5/Project.toml`
  [aae7a2af] DiffEqFlux v1.25.0
  [587475ba] Flux v0.11.2
  [a75be94c] GalacticOptim v0.4.2
  [4df31cd9] Grassmann v0.7.1
  [ee78f7c6] Makie v0.11.1
  [961ee093] ModelingToolkit v4.0.6
  [315f7962] NeuralPDE v2.7.0
  [429524aa] Optim v1.2.0
`

[2020-11-29 19:55] linwaytin opened #182 "Approximate a given function"
First thanks for this package.
Solving PDEs using neural networks is an interesting approach.

I would like to see if a neural network can approximate a given function like `sin(x)`,
so I build a simple network
[code]
Gradient descent is used to minimize the 2-norm between `sin(x)` and `m(x)`.
The points `x` are taken uniformly between -2 and 2.
I am surprised that the parameters blow up.

Could a

[2020-11-30 00:04] ChrisRackauckas commented on #182
I know you can easily do something like `sin` because look at these lecture notes that do it in differential equation form:

https://mitmath.github.io/18337/lecture3/sciml.html

I can't help you without seeing code. However, this is orthogonal to NeuralPDE.jl itself, so I'm going to close this issue since there's nothing to do. If you want to have a wider discussion on this topic, I suggest checki

[2020-11-30 00:04] #182 closed

[2020-11-30 02:45] linwaytin commented on #182
Thanks! I didn't know the existence of the lecture notes.
I will go through them and ask questions on Julia Discourse.

[2020-11-30 11:38] ChrisRackauckas opened #184 "Method for calculating the full Kolmogorov PDE solution"
https://arxiv.org/pdf/2011.04602.pdf

[2020-12-01 09:25] #139 closed

[2020-12-04 02:38] #180 closed

[2020-12-04 11:14] ChrisRackauckas commented on #123
These have been fixed.

[2020-12-04 11:14] #123 closed

[2020-12-08 13:16] KirillZubov opened #191 "General plot function"
it would be convenient to have one general method for plot of solution.
[code]

[2020-12-08 13:23] KirillZubov opened #192 "Function to pass training parameters to the next solver"
It would be more convenient for debugging and building a more flexible learning strategy to have a function that transfers the learning parameters, first of all, the trained neural network weights to the next solver. Also, it's also an opportunity to look at the intermediate result.

[code]

[2020-12-08 14:36] KirillZubov opened #193 "Using a loop algorithm instead of recursive for calculating the derivative"
The loop algorithm is always better. At worst, the time complexity is the same and, at best a couple of times faster and also not required creating scope every recursively calling function.

On pseudocode, it will look something like this:
[code]

[2020-12-08 14:39] KirillZubov opened #194 "Support TensorBoardLogger.jl or something like this."
As @dangirsh noted, it would be very convenient to use for interpreting the results TensorBoardLogger.jl or something similar.
https://github.com/PhilipVinc/TensorBoardLogger.jl

[2020-12-09 00:48] #71 closed

[2020-12-09 01:22] ChrisRackauckas commented on #194
This should be considered an upstream issue in https://github.com/SciML/GalacticOptim.jl/issues/80

[2020-12-09 01:24] ChrisRackauckas commented on #191
Instead of a function it should be a recipe on a return type. Right now we don't have a good return type after the optimization, so we'll need to think about a way to package post processing as a `NeuralPDESolution` where the user supplies a few things? It's a bit different with GalacticOptim calls in there but it can be done.

[2020-12-09 15:19] ChrisRackauckas commented on #14
@JuliaRegistrator register()

[2020-12-09 15:26] ChrisRackauckas commented on #193
Instead of summing an array, sum the generator expression `sum(C*u(x+dx,θ,phi) for (dx,C) in zip(dxs,Cs))` and it'll be a bit better.

[2020-12-09 15:28] ChrisRackauckas commented on #192
I think this would almost fall under the `remake` idea, but it just barely doesn't. But yes, a helper function here could be useful.

[2020-12-09 21:08] #171 closed

[2020-12-11 02:31] asdasdqwdqwfsdf opened #195 "no method matching GridTraining(; dx=0.1) && MethodError: no method matching StochasticTraining(; number_of_points=20)"
MethodError: no method matching GridTraining(; dx=0.1)
Closest candidates are:
  GridTraining() at /root/.julia/packages/NeuralPDE/7SDF6/src/pinns_pde_solve.jl:56 got unsupported keyword argument "dx"

Stacktrace:
 [1] top-level scope at In[6]:21

MethodError: no method matching StochasticTraining(; number_of_points=20)
Closest candidates are:
  StochasticTraining(; include_frac) at /root/.julia/p

[2020-12-11 02:33] ChrisRackauckas commented on #195
are you on the latest version?

[2020-12-11 02:39] asdasdqwdqwfsdf commented on #195
Pkg.add("NeuralPDE");
Julia 1.4.2

[2020-12-11 02:43] asdasdqwdqwfsdf commented on #181
@ChrisRackauckas
can we solve **3D** Poisson's equation problems here?

[2020-12-11 02:45] ChrisRackauckas commented on #181
yes

[2020-12-11 02:45] ChrisRackauckas commented on #181
@ahenkes1 did you get this working?

[2020-12-11 02:45] asdasdqwdqwfsdf commented on #191
Hi @ChrisRackauckas and @KirillZubov,

does "NeuralPDE.jl" support VTK formats output file?

[2020-12-11 04:06] #195 closed

[2020-12-11 07:35] ahenkes1 commented on #181
Error is still there with v.3.0.0

[2020-12-11 07:57] asdasdqwdqwfsdf opened #196 "Plate with a hole"
Dear "NeuralPDE.jl" Team,

can we define the 2D domain as **a plate with a hole**, which may look like:

[https://feaforall.com/wp-content/uploads/2013/04/plate-mesh-size.png](url)

Thanks in Advance!

Libo

[2020-12-11 09:29] ChrisRackauckas commented on #191
Not yet. That might be hard because the solution is inherently continuous which doesn't mesh well with the format. But there is WriteVTK.jl which we could use.

[2020-12-11 09:30] ChrisRackauckas commented on #181
Do you have GalacticOptim.jl v0.4.2?

[2020-12-11 09:31] ChrisRackauckas commented on #196
We cannot do complex domains like that at this time, but that's definitely on our list.

[2020-12-11 09:45] ahenkes1 commented on #181
Yes

 `ae7a2af] DiffEqFlux v1.26.0
  [587475ba] Flux v0.11.2
  [a75be94c] GalacticOptim v0.4.2
  [4df31cd9] Grassmann v0.7.1
  [ee78f7c6] Makie v0.11.1
  [961ee093] ModelingToolkit v4.2.0
  [315f7962] NeuralPDE v3.0.0
  [429524aa] Optim v1.2.0
`

[2020-12-11 15:52] ChrisRackauckas commented on #196
It's fine to leave this open as a goal.

[2020-12-12 00:33] OVGULIU commented on #181
@ChrisRackauckas  is there  a good way that we can plot the **3D** poisson results **_using PLOTS_** (\phi in X,Y,Z)?

[2020-12-12 00:36] OVGULIU commented on #196
Circles could be helpful, e.g.
[https://lh3.googleusercontent.com/proxy/0UKi6pp2EaTHMt7cBJS3ZQ2pWbKSt3YRttvfiTBZwHUBMKwEMMZYKuolBOcReDYts7wBbay5LuWgR4QKf2_2Kv8YzwWh5iPDeWz_CW1fmRpjI6K4m7iss2EHr05qRk4Xs9waUi5nS82l599LibsLfgwyxukRNLLRaA](url)

[2020-12-12 01:52] asdasdqwdqwfsdf opened #197 "Collocation points, Initial points, Boundary points, and the activation function"
If we use "NeuralPDE.jl", how can I know the following important information from the PINNS model

**Collocation points, Initial points, Boundary points, and the Activation function**

1. **Collocation points**

2. **Initial points**

3. **Boundary points**

4. **Activation function**

coordinate of these points, etc.

[2020-12-12 06:08] asdasdqwdqwfsdf opened #198 "Plot Error:"
In the Example 2 : Solving the 2-dimensional ...

if we change the domain area (size/shape) from 1 to 4:

`domains = [x ∈ IntervalDomain(0.0,1.0) -> domains = [x ∈ IntervalDomain(-1.0,1.0),`

we will find the plot error:  Arrays have incorrect length or dimension.

So the correct plot command is `plot( ts, xs, ...)`, not plot( xs, ts, ...).

[2020-12-12 09:21] ChrisRackauckas commented on #197
There are no "points": it's a continuous model. There are points the loss is evaluated at but in some strategies that changes every time. The boundary is continuous, the initial condition is just a boundary condition. You pass in the neural network so you know the activation function you specify in the `Chain` objects. There's no such thing as a collocation point in this method, or at least, it's

[2020-12-12 09:21] #197 closed

[2020-12-12 09:23] ChrisRackauckas commented on #198
It depends on what you want to plot. If you want to plot all of the spatial domains, do that. I would agree doing (ts,xs) is likely more common than (xs,ts), so that would be worth a PR.

[2020-12-12 09:24] ChrisRackauckas commented on #181
Yes. If you look at the examples it shows how to plot, and if you want to do a 3D plot, just plot with 3 portions, i.e. `plot(xs,ys,zs)` and make it a heatmap or whatever you want. That's a question on using the plotting libraries and better served in https://discourse.julialang.org/ . Please do not post questions like that in unrelated issues.

[2020-12-12 09:41] ChrisRackauckas commented on #181
@ahenkes1 thanks for the issue. The problem in the latest version was that `progress` was an arguement that was handled with Flux optimizers but not Optim optimizers in GalacticOptim.jl. For the tutorial, since it's unnecessary, I just removed the `progress=true ` in https://github.com/SciML/NeuralPDE.jl/commit/01069f7c133b30e268eccc13ed5f5c8264bb98c3 and that should be fine. To make this more rob

[2020-12-12 11:40] ahenkes1 commented on #181
@ChrisRackauckas unfortunately this did not resolve the issue. I post the exact error:

`julia> res = GalacticOptim.solve(prob, BFGS(), progress = false; cb = cb, maxiters=1000)
ERROR: MethodError: no method matching Optim.Options(; extended_trace=true, callback=GalacticOptim.var"#_cb#25"{var"#1#2",BFGS{LineSearches.InitialStatic{Float64},LineSearches.HagerZhang{Float64,Base.RefValue{Bool}},Nothin

[2020-12-12 12:59] ChrisRackauckas commented on #181
I haven't released the fix yet, so you'd need to remove the `progress = false`. What code exactly did you run?

[2020-12-12 13:09] ahenkes1 commented on #181
Ok, i ran [this](https://neuralpde.sciml.ai/dev/examples/pinns_example/) code

[2020-12-12 13:14] ChrisRackauckas commented on #181
Yes, and I just mentioned you shouldn't run that code and instead remove the `progress=false`. Did you do that?

[2020-12-12 13:52] #198 closed

[2020-12-12 16:08] ChrisRackauckas commented on #14
@JuliaRegistrator register()

[2020-12-12 16:08] JuliaRegistrator commented on #14
Registration pull request created: [JuliaRegistries/General/26286](https://github.com/JuliaRegistries/General/pull/26286)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2020-12-13 14:30] ahenkes1 commented on #181
Everything works just fine now! Thank you for your patience!

[2020-12-13 15:00] ChrisRackauckas commented on #181
Yeah no problem. Thanks for the report.

[2020-12-14 18:20] ChrisRackauckas opened #201 "Deep Ritz method"
https://arxiv.org/pdf/1710.00211.pdf

[2020-12-16 05:59] asdasdqwdqwfsdf opened #203 "Nonlinear second-order boundary value problems"
Hi @ChrisRackauckas and @KirillZubov

I am trying to solve a nonlinear second-order boundary value problem in "NeuralPDE.jl", the numerical result is still **NOT** correct.

The nonlinear second-order model in "NeuralPDE.jl" looks like:
[code]
Therefore, for **nonlinear second-order** boundary value problems, how can we choose the parameters for **a stable & correct solution** using  "NeuralPDE.jl

[2020-12-16 11:21] ChrisRackauckas commented on #203
What do you mean by it's not correct? How does the loss convergence look? Did you try other neural networks? That's a small neural network. Etc.

[2020-12-16 11:35] asdasdqwdqwfsdf commented on #203
1.) What do you mean by it's not correct?

**Answer:** Run this model using "NeuralPDE.jl", and check the analytical result / numerical result from [https://arxiv.org/pdf/2007.04542.pdf], then you will know that the result from "NeuralPDE.jl" is totally wrong.

2.) How does the loss convergence look?

**Answer:**  the loss convergence looks very good, but the results is  totally wrong. Again, you

[2020-12-16 11:44] ChrisRackauckas commented on #203
First of all, what is the validation you used to ensure you implemented the equation you thought you did? How did you test it?

I didn't run the code and would like you (or someone else) to share what some of the results look like, or else I won't be able to debug it for a very long time.

That's not an answer. An answer to that would be a plot.

FastChain(FastDense(2,16,Flux.σ),FastDense(16,16,Fl

[2020-12-16 12:07] ChrisRackauckas commented on #203
Wait, why was this closed?

[2020-12-16 17:24] ChrisRackauckas commented on #203
This is most likely a user issue, but I think it's fine to keep it open. @KirillZubov can you want to investigate this model over the next few weeks?

[2020-12-16 17:40] KirillZubov commented on #203
yeah, sure

[2020-12-16 20:38] KirillZubov commented on #178
The same works and with symbolic description for intermediate expression if I correctly understand the issue.
[code]

#or
[code]

[2020-12-16 21:02] KirillZubov commented on #178
Or we can add an internal scope for such expressions and parse them to the inner representation. It will some look like:
[code]

But I don't understand why to do this if there is just `w(x) = cos(x)` for intermediate expression.
But probably this way will good for support work embedding arrays. #177

[2020-12-17 14:00] ChrisRackauckas opened #205 "Bayesian Neural PDEs"
See https://arxiv.org/pdf/2006.04228.pdf as a guiding document. We can essentially have the NNBayesianPDE which is the same as the other but spits out a Bayesian estimation problem a la https://turing.ml/dev/tutorials/3-bayesnn/ with ADVI and use that to train with uncertainties. This would be a great GSoC project.

[2020-12-20 12:52] KirillZubov opened #206 "Improve geometry of PINNs"
As the next step in the development of the symbolic  representation of geometry of PINNs is follow tasks:
- [ ] ConstrainedEquation #176
- [ ] polar coordinates
- [ ] separate domain
- [ ] L-domain example
- [ ] plate with a hole example #196

[2020-12-21 12:54] ChrisRackauckas commented on #14
@JuliaRegistrator register()

[2020-12-21 12:54] JuliaRegistrator commented on #14
Registration pull request created: [JuliaRegistries/General/26718](https://github.com/JuliaRegistries/General/pull/26718)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2020-12-21 18:43] asdasdqwdqwfsdf opened #209 "ERROR: LoadError: KeyError: key :derivative not found"
I can't run this high order ODE model in "NeuralPDE.jl" due to the error
**ERROR: LoadError: KeyError: key :derivative not found**

[code]
Thanks in advance!

[2020-12-21 19:20] asdasdqwdqwfsdf commented on #154
@ChrisRackauckas .

How can we define such initial values using "NeuralPDE.jl", i.e., the initial values in the circle are 0.1, other points 2.?

![grafik](https://user-images.githubusercontent.com/58915493/102813738-a8897400-43c9-11eb-9c5a-99c07d1a865e.png)

[2020-12-21 19:26] asdasdqwdqwfsdf commented on #205
@ChrisRackauckas

What is the best reference/**theoretical** article for "NeuralPDE.jl", are we still using collocation points in "NeuralPDE.jl". namely this article [https://www.sciencedirect.com/science/article/pii/S0021999118307125]:

[2020-12-22 02:53] ChrisRackauckas commented on #205
That is the right article. That said, this question is completely off topic for this thread so please do not ask it in a thread that's supposed to be about Bayesian versions.

[2020-12-23 11:38] ChrisRackauckas commented on #154
`u(0,x,y) ~ IfElse.ifelse(x^2 + y^2 < 1,0.1,2)`

[2020-12-24 11:29] asdasdqwdqwfsdf commented on #154
@ChrisRackauckas

How to define the circle's positon, e.g. (x1, y1) denotes the circle's positon?

[2020-12-24 11:33] asdasdqwdqwfsdf commented on #205
In Raissi et al. [1] article, **the collocation points** are used in their PINNs applications.

But **no information about collocation points** is found in "NeuralPDE.jl" and its applications.

[1]. https://www.sciencedirect.com/science/article/pii/S0021999118307125

[2020-12-24 12:11] ChrisRackauckas opened #211 "Grid training: argument issues"
There's a few weird things with its arguments:

- It should be a required argument. The default `dx=0.1` doesn't make any sense.
- It should be a positional argument.
- It should also have a vector input. If it's a scalar it should be the `dx` in all directions. If it's a vector it should match the dimension of the domain and be a dx per dimension.

[2020-12-24 12:12] ChrisRackauckas opened #212 "stochastic training: argument issues"
- It should be a positional argument
- It shouldn't have a default: it should be a conscious choice for how many points to use. There's no way to know in advance what 100 points will do.

[2020-12-24 12:25] ChrisRackauckas commented on #205
This is still completely off topic for this thread. Please do not abuse threads.

It is in the manual as the training strategies. There is an entire section written about this: https://neuralpde.sciml.ai/dev/solvers/pinn/#Training-strategy

[2020-12-24 12:33] ChrisRackauckas opened #214 "Flux NNs shouldn't have to destructure/restructure"
Explicit title. It shouldn't have to restructure/destructure. For Flux NNs we shouldn't be handling the parameter vector at all, instead just allow the vector to be enclosed within the `phi` functions. If we do it at the `phi` function level then the parameters don't need to be passed anywhere else.

[2020-12-24 12:34] ChrisRackauckas commented on #214
Thinking about it more, this would have issues with QuadratureStrategy since that needs to different w.r.t. theta.

[2020-12-24 12:39] ChrisRackauckas opened #215 "Use FiniteDiffereneces.jl for the nested finite differencing"
Right now the code for the differencing when using finite differences:

https://github.com/SciML/NeuralPDE.jl/blob/v3.2.0/src/pinns_pde_solve.jl#L480-L481

is using recursion on the first order. This can be improved by using FiniteDifferences.jl to directly generate the stencil for the higher order differences. This will be both more efficient and result in lower numerical error.

[2020-12-24 12:47] ChrisRackauckas commented on #154
`u(0,x,y) ~ IfElse.ifelse((x-x1)^2 + (y-y1)^2 < 1,0.1,2)`

[2020-12-24 21:43] rohitvuppala opened #216 "Getting Example 1 to work"
After adding the package NeuralPDE, I try in Pluto to execute the following block
`
begin
	using NeuralPDE
	using Flux
	using ModelingToolkit
	using GalacticOptim
	using Optim

end
`

I get the following error, what am I missing?

`
LoadError: LoadError: LoadError: LoadError: UndefVarError: CUDA not defined

in expression starting at /home/$user/.julia/packages/Tracker/XcCOb/src/lib/real.jl:72

in

[2020-12-25 21:50] ChrisRackauckas commented on #216
Is it fine outside of Pluto?

[2020-12-26 02:26] asdasdqwdqwfsdf opened #218 "2D inhomogeneous biharmonic equation"
How to solve a 2D inhomogeneous biharmonic equation with NeuralPDE.jl?

I tried the following code:

[code]

But it shows such results:

![grafik](https://user-images.githubusercontent.com/58915493/103144417-3dbd9d00-4729-11eb-86f2-e3c4b8772aca.png)

How to derive the solution using NeuralPDE.jl?

[2020-12-26 10:22] asdasdqwdqwfsdf commented on #129
hi, I have tested this equation (https://github.com/SciML/NeuralPDE.jl/issues/218).

[2020-12-26 14:33] ChrisRackauckas commented on #218
What hyperparameters were tried? What does the loss trace look like?

[2020-12-26 15:26] asdasdqwdqwfsdf commented on #218
What is your suggestion for the best approximation in this case?

First loss is: 0.11927169894684062

Last loss is: 2.0872123978938786e-6

It is well known that the CORRECT output DOES **not** ONLY depend on the loss function ...

[2020-12-26 15:36] ChrisRackauckas commented on #218
I haven't looked at this equation yet, so what you tried should get documented to save the time of others in the future. Having a full record of what worked and what didn't work is just good science, and the issues can be thought of as a public lab notebook accumulating information about the repository and its changing behaviors.

Well duh, but you posted this without any reference to what it was

[2020-12-27 13:16] ChrisRackauckas commented on #205
Another relevant paper: https://arxiv.org/abs/2003.06097

[2020-12-29 20:59] rohitvuppala commented on #216
I've tried from julia REPL:
`ERROR: LoadError: LoadError: LoadError: LoadError: LoadError: UndefVarError: CUDA not defined
Stacktrace:
 [1] top-level scope at /home/rohit/.julia/packages/Tracker/XcCOb/src/lib/real.jl:75
 [2] eval(::Module, ::Any) at ./boot.jl:331
 [3] top-level scope at /home/rohit/.julia/packages/Tracker/XcCOb/src/lib/real.jl:74
 [4] include(::Function, ::Module, ::String) at ./B

[2020-12-29 21:16] rohitvuppala commented on #216
However, I'm able to make it work on Atom(uber-juno) or JuliaPro. I'm not sure what the issue is on REPL and Pluto.

[2020-12-30 14:57] ChrisRackauckas commented on #216
Is the version of the REPL the same as the Atom REPL?

@DhairyaLGandhi since this looks like a Tracker.jl issue.

[2020-12-31 00:31] rohitvuppala commented on #216
Yes both were,
"Version 1.5.3 (2020-11-09)".

[2020-12-31 01:19] rohitvuppala commented on #216
I'm unable to reproduce the issue now on trying to re-run in Julia REPL. I believe the script working in Atom might also not be related to any bugs but rather the packages being pre-compiled in proper order required for the first run. I was meddling with the used packages trying to pre-compile them separately before running the script on atom to check, this might have fixed the issue. I'm not comp

[2020-12-31 01:21] ChrisRackauckas commented on #216
I'll chalk this up to at least not a package issue. More help of course can be found at discourse.julialang.org.

[2020-12-31 01:21] #216 closed

[2021-01-01 09:10] khizirsiddiqui commented on #201
Hey @ChrisRackauckas , I would like to work on this. Commenting just to confirm no one else is already here. :)

[2021-01-01 13:43] ChrisRackauckas commented on #201
Yes, no one that I know of is working on this. It's hard to know if it can be applied generally though: Deep Galerkin might be a better starting point.

[2021-01-04 13:06] ChrisRackauckas commented on #8
@JuliaRegistrator register()

[2021-01-04 13:06] JuliaRegistrator commented on #8
Registration pull request created: [JuliaRegistries/General/27294](https://github.com/JuliaRegistries/General/pull/27294)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-01-04 15:16] ChrisRackauckas commented on #201
I got permission to share this as well:

[18_337_Final_Project_Report.pdf](https://github.com/SciML/NeuralPDE.jl/files/5765389/18_337_Final_Project_Report.pdf)

[Uploading DeepProject.zip…]()

[2021-01-04 15:16] ChrisRackauckas opened #220 "Deep Galerkin Method"
https://arxiv.org/abs/1708.07469
[DeepProject.zip](https://github.com/SciML/NeuralPDE.jl/files/5765397/DeepProject.zip)
[Final proj.pdf](https://github.com/SciML/NeuralPDE.jl/files/5765398/Final.proj.pdf)

[2021-01-05 03:59] drozzy opened #221 ""Could not find cudnn" on Win 10"
I get exactly the same error as when trying to use GalacticOptim.
Here is the issue I posted there:
https://github.com/SciML/GalacticOptim.jl/issues/100

[2021-01-05 08:44] #221 closed

[2021-01-05 09:27] khizirsiddiqui commented on #201
Sorry, got a little busy somewhere. Whoaa! This is such a nice report, thanks for this! I will start with Deep Galerkin and keep you updated.

[2021-01-05 21:54] ChrisRackauckas commented on #14
@JuliaRegistrator register()

[2021-01-05 21:54] JuliaRegistrator commented on #14
Registration pull request created: [JuliaRegistries/General/27390](https://github.com/JuliaRegistries/General/pull/27390)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-01-06 14:19] #141 closed

[2021-01-07 02:28] #149 closed

[2021-01-12 06:58] ChrisRackauckas commented on #155
https://www.youtube.com/watch?v=U38hnksTVdE could be a useful source as well

[2021-01-13 01:20] drozzy opened #230 "InexactError with StochasticTraining"
If I call `StochasticTraining(1000)` I get an error `ERROR: InexactError: Int64(31.622776601683793)`, but `StochasticTraining(1000)` works ok!

Here is a complete code example that fails:

[code]

[2021-01-13 08:59] KirillZubov commented on #230
Hi @drozzy, thanks for pointing out the error. I fixed it

[2021-01-13 10:13] #230 closed

[2021-01-13 10:16] drozzy opened #232 "Why is phi([x,y],res.minimizer) an array?"
Forgive the silly question...

It seems like in all examples I've encountered so far everytime after accessing the phi we always get the first element: `phi([x,y],res.minimizer)[1]`

Is there a reason it comes out as an array of size 1?

[2021-01-13 13:58] KirillZubov commented on #232
Thanks for noticing, actually yes now `phi` always returns one value, before it was not so. Now, as I understand it, this is no longer needed. It will need to be fixed.

[2021-01-13 14:09] KirillZubov commented on #209
@asdasdqwdqwfsdf  Actually, there is a problem with the boundary condition parser.
if you rewrite `bcs` as:
[code]
it will work.
But the parser will need to be fixed

[2021-01-13 18:19] #211 closed

[2021-01-13 18:20] #212 closed

[2021-01-14 17:51] KirillZubov opened #234 "Error in the parser for multiplication between differentials"
the expression isn't handled :
[code]

[2021-01-14 19:28] bgroenks96 commented on #234
There's a misplaced parentheses in the expression. It should be: `Dx(k(x)*Dx(T(t,x)))`

i.e. a nonlinear diffusion function.

[2021-01-15 13:13] finmod opened #235 "Error in latest update_doc examples"
In Example1 2D Poisson and many other examples, there is a bug in the syntax for Discretization:

dx = 0.05
discretization = PhysicsInformedNN(chain, GridTraining(dx))

Returns:

MethodError: no method matching GridTraining()
Closest candidates are:
  GridTraining(!Matched::Any) at C:\Users\Denis\.julia\dev\NeuralPDE.jl-master\src\pinns_pde_solve.jl:64

Stacktrace:
 [1] PhysicsInformedNN(::Functio

[2021-01-15 15:24] ChrisRackauckas commented on #235
`MethodError: no method matching GridTraining()` that's not the function you called?

[2021-01-15 15:29] KirillZubov commented on #235
I think the problem is that we haven't updated the new release and it's needed to use the "master" for the current documentation

[2021-01-15 15:31] ChrisRackauckas commented on #235
I'll take a look at the most recent doc PR and play with it before merging. I didn't quite like it, but I realized I had some detailed change in mind that is easier to do than describe so I might as well just do it instead of giving you 30 reviews 🤣 . I'll tag right after that.

[2021-01-15 16:27] finmod commented on #235
My diagnostic is that the function selecting the 'strategy' is missing in the eight individual PINNs examples. This used to work in the large PINNs_examples.md file.

[2021-01-15 17:36] KirillZubov commented on #235
@finmod you can update the version from "master" for now until all changes are added to the new release.
[code]

[2021-01-17 16:16] finmod commented on #235
Thanks. Working with the latest commit, in wave.md the callback function is missing. It should read

opt = Optim.BFGS()

cb = function (p,l)
    println("Current loss is: $l")
    return false
end

res = GalacticOptim.solve(prob,opt; cb = cb, maxiters=1200)
phi = discretization.phi

[2021-01-17 16:17] ChrisRackauckas commented on #235
could you PR that?

[2021-01-18 18:13] alokwarey commented on #235
I am getting the same error when running the 2D Poisson example. How do I resolve it?

[2021-01-18 18:56] ChrisRackauckas commented on #235
Can you upgrade to the latest version and start a new session?

[2021-01-19 01:04] alokwarey commented on #235
I updated NeuralPDE and tried again. Still get the same error.

[2021-01-19 02:15] ChrisRackauckas commented on #235
Which versions?

[2021-01-19 09:06] KirillZubov commented on #235
yeah, it's needed to either duplicate the callback function in each example or write that it is used for all examples somewhere on top.

[2021-01-19 09:18] KirillZubov commented on #235
@ChrisRackauckas could you please add the new release so that all updates coincide with what is in the documentation.

[2021-01-19 09:26] finmod commented on #235
Now that the pinns folder is stand alone, it is correct that the callback function should be inserted in each example separately. At present it is in poisson.md and nowhere else. The same applies to the `using.......` statement which is missing in all except poisson.md and debugging.md.

In pinns fp.md, I find that the predicted curve is much lower in the graph that the exact solution. This is une

[2021-01-19 09:31] ChrisRackauckas commented on #235
Yes, each tutorial should be standalone and not require code from another.

[2021-01-19 09:31] ChrisRackauckas commented on #235
wait, why? What's the default value?

[2021-01-19 09:33] ChrisRackauckas commented on #235
https://github.com/SciML/NeuralPDE.jl/blob/master/src/pinns_pde_solve.jl#L61-L66 on the latest it's a positional arg as expected.

[2021-01-19 09:39] ChrisRackauckas commented on #14
@JuliaRegistrator register()

[2021-01-19 09:39] JuliaRegistrator commented on #14
Registration pull request created: [JuliaRegistries/General/28257](https://github.com/JuliaRegistries/General/pull/28257)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-01-19 09:57] KirillZubov commented on #235
yes, in the new interface positional arg  `GridTraining(dx)` but in the old version(which is the latest release) was  keyword argument `GridTraining(dx=dx)`

[2021-01-19 10:07] ChrisRackauckas commented on #235
oh I see what you mean.

[2021-01-19 13:23] alokwarey commented on #235
I have version v3.4.). I tried GridTraining(dx=dx). Still get the error.

[2021-01-19 13:25] alokwarey commented on #235
I can run the example if I don't specify the strategy i.e. remove GridTraining.

[2021-01-19 18:39] KirillZubov commented on #235
@alokwarey, update to the latest release(v3.5.0), now it matches the documentation. `GridTraining(dx)` should work.

[2021-01-19 19:46] alokwarey commented on #235
That worked. Thanks!

[2021-01-19 19:47] ChrisRackauckas commented on #235
Great!

[2021-01-19 19:47] #235 closed

[2021-01-20 21:59] finmod opened #239 "SBINNs: Systems Biology INN -- PINNs for ODEs"
This extension of PINNs to ODE systems for data driven solutions belongs here. For data driven discovery, it would belong to DataDrivenDiffEq. [https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1007575](url)

[2021-01-21 07:14] ChrisRackauckas commented on #239
Yup, PINNs on ODEs can already be done. Actually, `NNODE` could do this from 2017! But... it's super inefficient to do this. We can create a tutorial around it, but this is definitely a case where the user should be pointed to DiffEqFlux.jl instead.

[2021-02-05 17:27] finmod opened #245 "Update to MTK5: some problem with the new Differential syntax"
Trying to run PINN fp doc example, the MTK5 update of

@parameters x
@variables p(..)
Dx = Differential(x)
Dxx = Differential(x)^2

yields the following error:

MethodError: no method matching ^(::Differential, ::Int64)
Closest candidates are:
  ^(!Matched::Float32, ::Integer) at math.jl:907
  ^(!Matched::Irrational{:ℯ}, ::Integer) at mathconstants.jl:91
  ^(!Matched::Irrational{:ℯ}, ::Number) at

[2021-02-05 17:31] ChrisRackauckas commented on #245
are you on MTK5?

[2021-02-05 17:37] finmod commented on #245
No. pkg> st gives MTK v4.5.0 even though I update constantly. Something to do with Project.TOML of NeuralPDE?

[2021-02-05 17:59] ChrisRackauckas commented on #245
Do `]add ModelingToolkit@5` and see what it says.

[2021-02-05 18:20] finmod commented on #245
All hell breaks loose:
               _
   _       _ _(_)_     |  Documentation: https://docs.julialang.org
  (_)     | (_) (_)    |
   _ _   _| |_  __ _   |  Type "?" for help, "]?" for Pkg help.
  | | | | | | |/ _` |  |
  | | |_| | | | (_| |  |  Version 1.5.3 (2020-11-09)
 _/ |\__'_|_|_|\__'_|  |  Official https://julialang.org/ release
|__/                   |

(@v1.5) pkg> add ModelingToolkit@

[2021-02-05 18:29] ChrisRackauckas commented on #245
We were missing a tag v3.6.

@JuliaRegistrator register()

[2021-02-05 18:29] #245 closed

[2021-02-05 18:30] JuliaRegistrator commented on #245
Registration pull request created: [JuliaRegistries/General/29440](https://github.com/JuliaRegistries/General/pull/29440)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-02-05 20:43] finmod commented on #245
The registries have been updated as expected but the original error that opened this issue is still there!

[2021-02-06 06:32] ChrisRackauckas commented on #245
Even with the update to v3.6?

[2021-02-06 09:25] finmod commented on #245
Yes. Let me restate the error.

@parameters x
@variables p(..)
Dx = Differential(x)
Dxx = Differential(x)^2

produces:

MethodError: no method matching ^(::Differential, ::Int64)
Closest candidates are:
  ^(!Matched::Float32, ::Integer) at math.jl:907
  ^(!Matched::Irrational{:ℯ}, ::Integer) at mathconstants.jl:91
  ^(!Matched::Irrational{:ℯ}, ::Number) at mathconstants.jl:91
  ...

Stacktrace:
 [

[2021-02-06 12:56] ChrisRackauckas commented on #245
Yeah that's just saying you don't have the latest MTK.

[2021-02-06 13:28] finmod commented on #245
The current MTK is v5.2.1 but does not update to #master or anything else. It is fixed at v.5.4.0 by compatibility requirements with DynamicalSystems (?)

[2021-02-06 13:31] ChrisRackauckas commented on #245
paste it in here.

[2021-02-06 13:38] finmod commented on #245
(@v1.5) pkg> add ModelingToolkit#master
    Cloning git-repo `https://github.com/SciML/ModelingToolkit.jl.git`
   Updating git-repo `https://github.com/SciML/ModelingToolkit.jl.git`
  Resolving package versions...
ERROR: Unsatisfiable requirements detected for package Reexport [189a3867]:
 Reexport [189a3867] log:
 ├─possible versions are: [0.2.0, 1.0.0] or uninstalled
 ├─restricted to versions 1

[2021-02-06 14:04] ChrisRackauckas commented on #245
@datseris you need to tag:

https://github.com/JuliaDynamics/DynamicalSystems.jl/compare/v1.7.1...master#diff-72ed386c2a0cd1d23c0968297e70023ed98c22490d146dd89fc91f48369bad4dR21

[2021-02-06 14:21] #192 closed

[2021-02-06 16:01] Datseris commented on #245
Hi,

Not sure what I should be doing, given that the link you paste doesn't require any actions:

![image](https://user-images.githubusercontent.com/19669089/107123253-cbe68080-689c-11eb-8e2c-95b331181a34.png)

However, there isn't a package of DynamicalSystems.jl that uses MTK _directly_. There has to be some other external dependency outside JuliaDynamics, and we should find that one and properl

[2021-02-06 16:03] ChrisRackauckas commented on #245
I'm saying you have a bunch of compat updates on master that aren't tagged and you should tag them, or else plenty of users will likely see this. Specifically your Reexport upper bound is likely the issue.

[2021-02-06 16:32] Datseris commented on #245
Thanks for clarifying, I've just tagged DynamicalSystems.jl 1.7.2. @finmod can you try again?

[2021-02-06 16:47] finmod commented on #245
One up and more to go. This time it is Turing.

               _
   _       _ _(_)_     |  Documentation: https://docs.julialang.org
  (_)     | (_) (_)    |
   _ _   _| |_  __ _   |  Type "?" for help, "]?" for Pkg help.
  | | | | | | |/ _` |  |
  | | |_| | | | (_| |  |  Version 1.5.3 (2020-11-09)
 _/ |\__'_|_|_|\__'_|  |  Official https://julialang.org/ release
|__/                   |

(@v1.5)

[2021-02-06 18:26] ChrisRackauckas commented on #245
Try now

[2021-02-06 19:47] finmod commented on #245
Still impossible to update MTK
               _
   _       _ _(_)_     |  Documentation: https://docs.julialang.org
  (_)     | (_) (_)    |
   _ _   _| |_  __ _   |  Type "?" for help, "]?" for Pkg help.
  | | | | | | |/ _` |  |
  | | |_| | | | (_| |  |  Version 1.5.3 (2020-11-09)
 _/ |\__'_|_|_|\__'_|  |  Official https://julialang.org/ release
|__/                   |

(@v1.5) pkg> st
Status `C

[2021-02-06 23:51] ChrisRackauckas commented on #245
Oh I messed up. Try it now. MTK should no longer require Reexport 1.0 and can do 0.2, so packages like Turing which haven't updated should be fine.

[2021-02-07 01:33] ChrisRackauckas commented on #14
@JuliaRegistrator register()

[2021-02-07 01:34] JuliaRegistrator commented on #14
Registration pull request created: [JuliaRegistries/General/29522](https://github.com/JuliaRegistries/General/pull/29522)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-02-07 01:50] ChrisRackauckas commented on #14
@JuliaRegistrator register()

[2021-02-07 01:50] JuliaRegistrator commented on #14
Registration pull request updated: [JuliaRegistries/General/29522](https://github.com/JuliaRegistries/General/pull/29522)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-02-07 10:20] finmod commented on #245
Solved.

[2021-02-07 16:53] finmod opened #248 "Upgrade to MTK5: errors and omissions in PINN examples"
In the PINN folder of docs/src/pinn, the following errors and omissions have been found:

All the examples except poisson.md have the callback function missing.

In low_level.md, get_phi is not defined.

In fp.md, the calculated curve is below the analytical solution by a substantial amount, the BFGS is very slow and does not go below 1.0. This may be a case for alternate optimizer or a succession

[2021-02-07 16:57] finmod opened #249 "Give the MTK5 treatment to all the other problems in NeuralPDE"
Are there any reason why this is not possible? It would render the problems readable across systems and directly with mathematical exposition in papers.

[2021-02-07 17:08] ChrisRackauckas commented on #249
I can be done. We just need hands.

[2021-02-08 00:17] ChrisRackauckas commented on #248
@KirillZubov it would be good to do a pass through all of the tutorials and make sure they copy-paste work now that the main interface changes are done.

[2021-02-10 16:42] finmod commented on #248
Nice update. The callback is still missing in fp.md.

[2021-02-11 04:00] yewalenikhil65 commented on #245
Hey @ChrisRackauckas  i am facing same issue with MTK(stuck at v4.2.0) and neuralPDE(stuck at v3.4.0). Trying to update either of them creates dependency issues.
For me DiffEqBayes(v2.22.0) seems to be reason.. Any way to resolve this ?
[code]
Following is my status of packages.
[code]

[2021-02-11 14:12] ChrisRackauckas commented on #245
That's a completely different issue. DiffEqBayes doesn't support the latest MTK and that will need to update sometime.

[2021-02-12 12:02] ChrisRackauckas commented on #245
DiffEqBayes should be updated now.

[2021-02-12 16:16] yewalenikhil65 commented on #245
This is weird. I see its okay with on my friends laptop now..Updated to DiffEqBayes(2.23.0) and that solved all issues of ModelingToolkit, NeuralPDE ,Catalyst as well.. all updated to latest one. But I am still unable to update further as follows
[code]
status of packages
[code]

[2021-02-12 16:17] ChrisRackauckas commented on #245
The only known bounds are StructArrays and DynamicHMC, and from there you can track it down.

[2021-02-12 17:17] yewalenikhil65 commented on #245
Sorry if the doubt seems little silly. I checked on the machine it worked and also on which it hasn't worked. It had following. DiffEqBayes is still refusing to update on my laptop. I think I maybe be missing something else ?
[code]

[2021-02-12 19:44] yewalenikhil65 commented on #245
Hi, thanks for the help. This is resolved now. What helped was removing some of these packages , then re-installing them again.. all updated perfectly

[2021-02-13 02:13] Napkin314 opened #251 "Problem with First Example"
First, I want to say this package looks awesome! I'm trying to get the first example to work but I've run into a problem with what looks like a missing definition.

ERROR: LoadError: MethodError: no method matching ^(::Differential, ::Int64)
Closest candidates are:
  ^(::Float32, ::Integer) at math.jl:907
  ^(::Float16, ::Integer) at math.jl:915
  ^(::Regex, ::Integer) at regex.jl:729
  ...
Stackt

[2021-02-13 02:41] ChrisRackauckas commented on #251
It requires MTK 5

[2021-02-13 04:23] Napkin314 commented on #251
Thought it was something I'd overlooked. Looks like it's up and running. Thank you for taking the time to help me with a dumb question, I really appreciate it!

[2021-02-13 04:23] #251 closed

[2021-02-17 15:46] ChrisRackauckas commented on #14
@JuliaRegistrator register()

[2021-02-17 15:47] JuliaRegistrator commented on #14
Registration pull request created: [JuliaRegistries/General/30257](https://github.com/JuliaRegistries/General/pull/30257)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-02-21 23:50] ChrisRackauckas commented on #14
@JuliaRegistrator register()

[2021-02-21 23:50] JuliaRegistrator commented on #14
Registration pull request created: [JuliaRegistries/General/30575](https://github.com/JuliaRegistries/General/pull/30575)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-03-08 15:56] stephans3 opened #257 "Docs: Tutorial misleading naming"
Your tutorial "2D Wave Equation with Neumann BCs" has two mistakes:
1. You describe Dirichlet boundary conditions: u(0,t)=u(1,t)=0 and not Neumann BCs
See also:
https://en.wikipedia.org/wiki/Neumann_boundary_condition
https://en.wikipedia.org/wiki/Dirichlet_boundary_condition

If you consider the derivative with respect to time "t" as the "Neumann" term then this is misleading because it is the in

[2021-03-12 01:53] ChrisRackauckas opened #258 "Full Kolmogorov PDE Solver documentation"
https://github.com/SciML/NeuralPDE.jl/pull/202 @ashutosh-b-b

[2021-03-12 01:55] ashutosh-b-b commented on #258
Yes, I am putting up a PR regarding this.

[2021-03-12 17:26] #239 closed

[2021-03-12 19:50] ChrisRackauckas commented on #257
All of the points made here are correct. @KirillZubov can you clean that up?

[2021-03-15 00:32] #148 closed

[2021-03-15 00:33] ChrisRackauckas commented on #112
I'm not sure what's actionable here.

[2021-03-15 00:33] #112 closed

[2021-03-15 00:34] ChrisRackauckas commented on #249
I think this is fixed? Open an issue with the concrete pages to update if it's not.

[2021-03-15 00:34] #249 closed

[2021-03-15 00:36] #131 closed

[2021-03-15 16:11] #257 closed

[2021-03-15 20:23] #184 closed

[2021-03-16 12:22] ChrisRackauckas commented on #14
@JuliaRegistrator register()

[2021-03-16 12:22] JuliaRegistrator commented on #14
Registration pull request created: [JuliaRegistries/General/32090](https://github.com/JuliaRegistries/General/pull/32090)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-03-16 17:39] ChrisRackauckas opened #264 "PDE-NET"
https://arxiv.org/pdf/1710.09668.pdf

[2021-03-17 20:52] ChrisRackauckas commented on #14
@JuliaRegistrator register()

[2021-03-17 20:52] JuliaRegistrator commented on #14
Error while trying to register: "Error parsing project file"

[2021-03-18 10:50] ChrisRackauckas commented on #14
@JuliaRegistrator register()

[2021-03-18 10:50] JuliaRegistrator commented on #14
Registration pull request created: [JuliaRegistries/General/32267](https://github.com/JuliaRegistries/General/pull/32267)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-03-18 16:28] KirillZubov opened #267 "QudratureStrategy don't support GPU"
https://github.com/SciML/Quadrature.jl/issues/61

[2021-03-19 01:18] ChrisRackauckas opened #268 "DeepONets"
https://arxiv.org/abs/1910.03193

[2021-03-19 17:31] finmod opened #271 "Bug in PINN param_estim.md"
This section of code:

discretization = NeuralPDE.PhysicsInformedNN([chain1 , chain2, chain3],NeuralPDE.GridTraining(dt), param_estim=true, additional_loss=additional_loss)
pde_system = PDESystem(eqs,bcs,domains,[t],[x, y, z],[σ_, ρ, β], [1.0, 1.0 ,1.0])
prob = NeuralPDE.discretize(pde_system,discretization)
cb = function (p,l)
    println("Current loss is: $l")
    return false
end
res = Galactic

[2021-03-19 17:36] ashutosh-b-b commented on #271
Yes I guess this was changed to pass parameters as a dictionary,
like [here](https://github.com/SciML/NeuralPDE.jl/blob/517018c3899805e751fa0a57d37cf5070ab8b1e7/test/NNPDE_tests.jl#L533)
I ll change the documentation

[2021-03-23 16:25] vaishnavtv opened #275 "Bug in example file"
Hi, I am not sure if the example files needs to be updated, or if there's a package version error occurring on my system (NeuralPDE v3.8.2 and ModelingToolkit v5.13.6).
The same example runs smoothly on another system with NeuralPDE v3.8.0 and ModelingToolkit v5.12.1.

For the Fokker-Planck example, for the second line in this block:
[code]
I am getting the following error:
[code]

Would appreciat

[2021-03-23 18:12] vaishnavtv commented on #275
I downgraded the NeuralPDE and ModelingToolkit packages in my system to v3.8.0 and v5.12.1 respectively. The examples are working, but I am now getting the following error during compilation:

[code]

[2021-03-23 19:07] vaishnavtv commented on #275
Sorry for the multiple prompts, but after downgrading, this is where the Fokker-Planck example gets stuck.
[code]

[2021-03-23 19:18] zoemcc opened #276 "Adaptive loss reweighting for PINNs"
I ran across this talk/paper recently that adaptively reweights the different components in the PINN loss (pde loss, bc loss, ic loss, etc) according to their recent gradient statistics so that they're all approximately the same scale range.  It uses a reweighting scheme similar to the mechanism within ADAM that rescales the components of the gradient during gradient descent.  This should help the

[2021-03-23 19:20] ChrisRackauckas commented on #276
https://github.com/SciML/NeuralPDE.jl/issues/155 also describes a few methods.

[2021-03-23 21:22] zoemcc opened #277 "PINN Test overhaul/expansion"
I'm working on a systematic expansion and review of the tests for PINNs:

- [ ] Many PINN tests compare to the analytic solution but only using a test like:  `@test u_predict ≈ u_real atol = 3.0` with a magic number for atol.  This should be replaced by two relative comparisons: average % error and maximum % error. It is difficult to tell where these atol numbers came from and if they're testing i

[2021-03-24 19:14] vaishnavtv commented on #275
Uninstalled and reinstalled Julia. Error has disappeared. Unsure why it came up in the first place.

[2021-03-24 19:14] #275 closed

[2021-03-25 11:36] KirillZubov commented on #271
@ChrisRackauckas the issue can be closed, it is fixed

[2021-03-25 12:57] #271 closed

[2021-03-25 16:42] vaishnavtv opened #279 "Question about Fokker-Planck example (Integral constraint)"
Hi, I am playing around with the PINN solver for the Fokker-Planck equation, and I don't understand why the following is a correct way of enforcing the normalization constraint:

[code]
From what I understand, this means that at each x for which the equation is evaluated, we inductively require the solution to be such that p(x)*dx ~ 1, but I don't see how this is equivalent to:

[code]

Alternativ

[2021-03-25 21:09] zoemcc commented on #279
Can you try it with a different type of training other than GridTraining?  I've found Grid to often not give the correct results due to only enforcing the PDE constraints at the grid points and not elsewhere.  Try StochasticTraining with a high number of points (128+) or QuadratureTraining with a high number of maxiters (200+).

[2021-03-25 21:16] zoemcc commented on #279
Other possible things to tweak:

Optimization method: ADAM for some amount of iterations to get the solution into the right region and then L-BFGS to fine-tune it in that region, or using ADAM with a decaying learning rate.  You can use the Flux.Optimiser to do this decay neatly using a composition of optimisers:

[code]

[2021-03-25 21:22] vaishnavtv commented on #279
Thanks! Will try those tweaks.
What do you think about the normalization condition for the Fokker-Planck equation? Am I misunderstanding something, or is
[code]
the correct representation of the theoretical constraint in the MTK interface?
[code]

[2021-03-25 21:23] zoemcc commented on #279
I believe you're correct. I didn't write that example but from your analysis it looks like it was an approximation to that constraint given that MTK doesn't support integral equations yet (which is being worked on, stay tuned).

[2021-03-25 21:23] zoemcc commented on #279
Your additional loss is a good way of embedding that constraint given that we don't support those in the MTK spec yet.

[2021-03-25 21:28] vaishnavtv commented on #279
I see. That's a relief.
If I see some good results  with the tweaks you suggested, I'll update this thread. Thank you for the clarification!

[2021-03-25 22:02] swankun opened #280 "Imposing positive definiteness of the Hessian"
I want to solve the PDE
[code]
using `NeuralPDE.jl` framework to approximate `u(x,y)` with a dense neural net. I don't have any boundary conditions. Rather, I would like to constrain the solution such that it has an isolated minimum at (x,y) = (0,0).

This can be done by making the gradient zero `∇u(0) = [0 0]` and the Hessian positive definite `∇²u(0) ≻ 0`. The gradient constraint can be included

[2021-03-26 16:25] KirillZubov commented on #280
[code]

[2021-03-26 16:27] KirillZubov commented on #280
@swankun  I think what you need can be written in this form.

[2021-03-26 16:31] KirillZubov commented on #280
`IfElse` isn't vectorized

[2021-03-26 21:00] KirillZubov commented on #279
@vaishnavtv  yes,  `∫p(x)dx = 1.0` is more correct, `p(x)*dx = 1 ` is some approximation of it. it is needed in order not to get a trivial solution.
It looks like you are in the right direction. Try to use one strategy for additional_loss and main loss function( if you use `GridTraining` so and add loss should have the same way of calc points, if `QuadratureProblem` so then `QuadratureTraining`)
a

[2021-03-27 14:15] ChrisRackauckas commented on #14
@JuliaRegistrator register()

[2021-03-27 14:15] JuliaRegistrator commented on #14
Registration pull request created: [JuliaRegistries/General/32959](https://github.com/JuliaRegistries/General/pull/32959)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-03-30 14:39] ChrisRackauckas commented on #44
Moved to Symbolics.jl

[2021-03-30 14:39] #44 closed

[2021-03-31 11:22] songjhaha opened #283 "question about pinn solver"
Is the pinns solver for pde using Zygote or Flux (with autoDiff) to get the high order derivative of u to x?
I am trying to using Flux to get some second order derivative, but i found it a bit difficult in Flux because Zygote cant easily get the derivative of array to array. I am reading the source code here but still cant figure it out.

[2021-03-31 11:25] ChrisRackauckas commented on #283
It's not.

[2021-03-31 11:39] songjhaha commented on #283
Thank you for your reply.

[2021-03-31 11:39] #283 closed

[2021-04-01 11:22] ChrisRackauckas commented on #14
@JuliaRegistrator register()

[2021-04-01 11:22] JuliaRegistrator commented on #14
Registration pull request created: [JuliaRegistries/General/33322](https://github.com/JuliaRegistries/General/pull/33322)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-04-05 09:25] finmod opened #284 "PINNs Lorenz param estim : kink in the output path of the predicted variables"
Running the Lorenz param estim example, the estimated parameters are:

3-element Vector{Float64}:
 10.000484105285961
 27.99897160477475
  2.667291549846074

Then in the graphical analysis:

initθ = discretization.init_params
acum =  [0;accumulate(+, length.(initθ))]
sep = [acum[i]+1 : acum[i+1] for i in 1:length(acum)-1]
minimizers = [res.minimizer[s] for s in sep]
ts = [domain.domain.lower:dt/10

[2021-04-05 10:24] ChrisRackauckas commented on #284
What optimization sequence did you use? ADAM -> BFGS?

[2021-04-07 03:03] yewalenikhil65 commented on #155
https://arxiv.org/abs/2009.04544

This is another nice read regarding "self-adaptive PINN", and is also used in TensorflowDiffEq as training strategy.. It tries to increase weights in the direction of high corresponding loss

[2021-04-07 12:00] KirillZubov commented on #284
@finmod  try code from the test https://github.com/SciML/NeuralPDE.jl/blob/2e9bac04111bb6a0049da1f26939b09984a53bcb/test/NNPDE_tests.jl#L480

[2021-04-07 12:13] KirillZubov commented on #284
The difference is that we train on more points in the tests.
[code]

[2021-04-07 12:16] finmod commented on #284
@KirillZubov Correct. There is this one line difference:

ts = [domain.domain.lower:dt/5:domain.domain.upper for domain in domains][1]

Let me run the test version to confirm

[2021-04-07 12:18] KirillZubov commented on #284
I wonder what it looks like it looks like so the learning behavior is different (example in the docs) depending on the operating environment or something else

[2021-04-07 12:20] ChrisRackauckas commented on #284
We just shouldn't use GridTraining

[2021-04-07 12:20] KirillZubov commented on #284
also, try updating all packages to the latest versions and running the version from the documentation. To make sure it doesn't depend on package versions

[2021-04-07 13:23] finmod commented on #284
With 101 observations, there are no kinks in the trajectories. The plots should be presented as scatter to immediately perceive the number of observations that is being used in the parameter learning.

@ChrisRackauckas This gives me an opportunity to make a comment on NN and parameter estimation that I have been pondering for quite a long time. You have established that the strength of an NN appro

[2021-04-08 13:06] ChrisRackauckas commented on #284
@zoemcc mentioned that this might not be able to be solved with GridTraining: it may require that the sampling adapts since otherwise it'll never "see" between the grid points. So that's why it might need to be swapped.

[2021-04-09 13:17] KirillZubov opened #288 "QuasiRandomTraining, every training step take a new quasirandom sample"
in QuasiRandomTraining, we first create a minibatch from quasi-random numbers, and at each iteration of training, we take one of them.

it needs to implement option `resample` - every training step takes a new quasirandom sample.

`QuasiRandomTraining(points;sampling_alg = UniformSample(),minibatch=500, resample= true): `

`resample` should guarantee that on each iteration it's used new quasi-rand

[2021-04-13 21:33] ChrisRackauckas commented on #14
@JuliaRegistrator register()

[2021-04-13 21:33] JuliaRegistrator commented on #14
Registration pull request created: [JuliaRegistries/General/34226](https://github.com/JuliaRegistries/General/pull/34226)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-04-14 11:30] marcoq opened #294 "Systems of one equation"
A MWE simplified to a single constant variable running on a CPU (no CUDA):

[code]
produces a `MethodError: no method matching zero(::Type{Vector{Float32}})` if solving by

`res = GalacticOptim.solve(prob, Optim.BFGS(); maxiters=10)`

and a `MethodError: no method matching typemax(::Type{Vector{Float32}})` if solving by

`res = GalacticOptim.solve(prob,ADAMW(); maxiters=10)`

 under

[code]
 and
[

[2021-04-14 12:14] ChrisRackauckas commented on #294
@KirillZubov the issue is that the stuff like `ex.args = if length(dict_depvars) == 1` isn't correct, because as seen here you can have a system of 1 PDE. A bit of an odd case (here, the user really should just not put the chain in an array), but we should make sure it works by doing the proper check, i.e. check `typeof(chain) <: AbstractVector` as a better indicator for if it's a system or a sing

[2021-04-14 12:45] marcoq commented on #294
Whenever the full effort of a full solution is not worth it,
perhaps defensive strategies
like peppering the source with more `@assert`-ions
might be a cheap option -
just my 2 user-side cents here...

Thanks a lot for the effort and the clarification!! :-)

[2021-04-14 17:16] KirillZubov commented on #294
Done, both MWEs should work

[2021-04-14 22:05] #294 closed

[2021-04-17 10:44] ChrisRackauckas opened #296 "Allow number of boundary points to be chosen by the user by a keyword argument"
The title should be fairly descriptive here.

[2021-04-19 13:12] finmod commented on #284
I have run the example with dt varying from 0.01 to 0.05. As it is now dt= 0.01 produces 101 observations per trajectory in the interval {0,1]. The breakdown of GridTraining occurs between dt=0.04 and dt=0.05. At dt=0.04, the number of observations is 26.

As mentioned above, parameter estimation by NN when the dataseries have 100 observations or more is a no brainer because there are more efficie

[2021-04-19 13:26] KirillZubov commented on #232
@ChrisRackauckas  I think this issue is outdated and can be closed since we are returning an array now:
[code]
or if one value then just use `first`
`first(phi([0.1],res.minimizer))`

[2021-04-19 13:32] #232 closed

[2021-04-20 12:47] KirillZubov opened #299 "IfElse.ifelse fail broadcasting"
it is a parser issue.

[code]

this can be resolved with `@register ifelsef(x)`

[2021-04-20 21:20] zoemcc commented on #284
Generally I've found the best results with QuadratureTraining with ~1000-2000+ maxiters and StochasticTraining with 128-256+ samples.  GridTraining should basically never be used.  The number of observations for parameter estimation here is orthogonal to the training strategy since each training strategy maintains its own set of samples in the domain to train the PDE loss, whereas observational da

[2021-04-29 05:30] troyrock opened #301 "How to specify parameters that depend on geometry in the PDE?"
I would like to modify the Poisson example on the front page to include a term that depends on the value of y:
[code]

This gives me an error **TypeError: non-boolean (Num) used in boolean context**.  What is the correct way to do this?

[2021-04-29 07:05] ChrisRackauckas commented on #301
Using IfElse.jl is the right way to do it until SymbolicTracing.jl is complete.

[2021-04-29 20:43] #301 closed

[2021-04-30 17:36] dohter opened #302 ""Systems of PDEs" example in documentation does give the anticipated results"
Hello,

I am following the example https://neuralpde.sciml.ai/stable/pinn/system/ and I am not getting the same results in. Mainly there is big discrepancy in u2 and u3 outputs
![sol_u2](https://user-images.githubusercontent.com/23319636/116732582-427cb100-a9a8-11eb-981e-3baaa85f687f.png)
![sol_u3](https://user-images.githubusercontent.com/23319636/116732588-44467480-a9a8-11eb-98d3-f33d0aff329b.pn

[2021-05-01 05:08] troyrock opened #303 "Error when trying to solve Poisson's equation with custom boundary conditions and layered dielectrics."
I'm trying to modify the Poisson example on the front page to have different boundary conditions and different material layers at different y layers.  Here is the error that I am getting followed by the code that I'm using.

**TypeError: non-boolean (Matrix{Bool}) used in boolean context
in eval at base/boot.jl:360
in top-level scope at poisson_for_layered_media.jl:87
in at SciMLBase/9EjAY/src/sol

[2021-05-02 00:59] ChrisRackauckas commented on #302
Do 300 iterations of ADAM before BFGS? And check if you're on the latest version?

[2021-05-05 00:48] dohter commented on #302
Thank you for reply!
Here is versioninfo
[code]
Also how in this example I can use ADAM before BFGS? Should I build a loss function, train with Flux and then call solve?

[2021-05-05 01:59] ChrisRackauckas commented on #302
https://neuralpde.sciml.ai/dev/pinn/fp/ shows one way to do it.

https://neuralpde.sciml.ai/dev/pinn/2D/ does multiple optimization steps, which if you replace ADAM with BFGS in some, that will do it.

[2021-05-05 21:56] dohter commented on #302
Putting ADAM in front brings the loss down to 0.5, but starting from that BFGC does not really pushing it down. Ill play around with learning rates.

[2021-05-06 12:19] ChrisRackauckas commented on #302
Are you doing `BFGS(initial_stepnorm=0.01)`?

[2021-05-06 15:56] dohter commented on #302
Tried both actually, same result

[2021-05-07 20:15] ChrisRackauckas commented on #302
@KirillZubov comments?

[2021-05-09 17:00] lamorton opened #305 "Demo failure"
I tried the Poisson PINN demo & got the following error message:

[code]

Here's what my environment looks like:
[code]

[2021-05-09 17:23] lamorton commented on #305
Could I suggest including a Project.toml file with the demo code?  It looks like there have been several similar closed issues that were resolved by getting the right versions of the packages involved.

[2021-05-10 10:57] ChrisRackauckas commented on #305
@KirillZubov could you look into this?

[2021-05-10 19:47] KirillZubov commented on #305
@lamorton  There was not dependence on `Cubature`. It just needs `using Quadrature, Cubature` in the demo.

[2021-05-10 20:08] KirillZubov commented on #303
IfElse.ifelse is not supported yet by the parser  https://github.com/SciML/NeuralPDE.jl/issues/299 , the workaround is to use `@register `
[code]

[2021-05-11 00:46] KirillZubov commented on #302
@dohter I opened the PR. I use QuadratureTraining and add more neurons.  u2 update slower than u1 and u3 very slow updated but in general, prediction converges but slow.
try to use some of the combinations
[code]
or mayby just ADAM
[code]

[2021-05-11 00:52] KirillZubov commented on #302
@ChrisRackauckas I suppose that a common problem with the system of pde is that the weights in NN are not updated evenly for each variable, the gradient between the equations is not balanced and the key to the solution should be Adaptive loss reweighting.
We see in the training process that `u3` updates much slower than others since I believe its gradient component is too small relative to the oth

[2021-05-11 21:25] ChrisRackauckas commented on #302
Yeah, we need to finish that piece.

[2021-05-13 05:40] troyrock commented on #303
Thank you!  That got rid of the error.  I'm trying to figure out how to visualize the result to see if it is solving correctly.

[2021-05-13 05:40] #303 closed

[2021-05-13 08:59] zzj0402 opened #308 "Example seems to have a missing Quadrature subclass"
So I trie to follow the example in the readme.
[code]
But I get:
[code]

[2021-05-13 12:23] ChrisRackauckas commented on #308
Is this Julia v1.6 with NeuralPDE 3.10.1? Show `]st -m`. This library is moving fast so I'd recommend staying up to date if you're following the latest docs.

[2021-05-16 16:58] lamorton commented on #268
See also [Fourier Neural Operators](https://github.com/zongyi-li/fourier_neural_operator).

[2021-05-16 17:06] ChrisRackauckas commented on #268
That should be a separate issue. I thought we had an issue for it but I'm not seeing it right now.

[2021-05-16 17:17] lamorton opened #309 "Fourier neural operators"
Nice to have: [ Fourier Neural Operators](https://github.com/zongyi-li/fourier_neural_operator).  Related to #268.

[2021-05-18 02:09] troyrock commented on #268
I would like to take a stab at this.  Since I'm new, I'll explain what I think is asked for and the method that I'll use to go about implementing it.  I don't see any way to include equations so I'll include the code for them in hopes that it's possible but that I'm not seeing it.

1. Implement the solution to the simple linear ODE \frac{ds(x)}{dx} = u(x) using differentialequations.jl with u(x) a

[2021-05-20 02:10] ChrisRackauckas commented on #268
Yeah, go for it. Though we do not recognize claims to issues: instead of [licking the cookie](https://www.redhat.com/en/blog/dont-lick-cookie), I will assume no one is working on this until there is code.

[2021-05-20 15:51] troyrock commented on #268
Good, I don't want to be in anyone's way.  I have started working on it.  Where does the code for things like this go and at what level of readiness should it be before I put it there?  Thanks

[2021-05-24 09:37] killah-t-cell opened #311 "Possibility to define vector parameters with @parameters"
I want to define a parameter r that is defined as a vector in 3d space [x, y, z]. Right now I need to define x, y, z individually even if I only want to use these parameters together. Would be great to be able to `@parameters r::Vector{3, Float64}` or similar.

I am new to Julia and am honoured to start participating in this community. Thanks Chris and everyone.

[2021-05-27 18:42] DolineanuMircea opened #313 "Bug in "1-D Burgers' Equation With Low-Level API" tutorial"
I was was trying to run the 1-D Burgers eq tutorial and I get a method error for the `build_loss_function()`. For example, the line

`_pde_loss_function = NeuralPDE.build_loss_function(eq,indvars,depvars,phi,derivative,chain,initθ,strategy)`

gives

[code]

[2021-05-28 02:44] asdasdqwdqwfsdf commented on #209
Hi @KirillZubov

It still contains the following errors:

[code]

[2021-05-28 10:29] ChrisRackauckas commented on #209
`StochasticTraining(100)`. What docs are you looking at?

[2021-05-28 12:51] ChrisRackauckas commented on #313
If you look at `]st` do you have NeuralPDE 3.10? Are you on Julia v1.6?

[2021-05-28 12:53] ChrisRackauckas commented on #299
@YingboMa isn't IfElse registered?

[2021-05-28 13:52] DolineanuMircea commented on #313
Yes, NeuralPDE v3.10.1, Julia v1.6.0

[2021-05-28 16:20] KirillZubov commented on #313
@ChrisRackauckas ok

[2021-05-28 17:29] KirillZubov commented on #313
@ChrisRackauckas  Actually the other way around. The documentation matches the main branch.

[2021-05-28 17:31] KirillZubov commented on #313
@DolineanuMircea run  `] add NeuralPDE#master` until a new release comes out.

[2021-05-28 17:33] ChrisRackauckas commented on #313
Let's do a release then.

[2021-05-28 17:33] #313 closed

[2021-05-28 17:35] ChrisRackauckas commented on #14
@JuliaRegistrator register()

[2021-05-28 17:35] JuliaRegistrator commented on #14
Registration pull request created: [JuliaRegistries/General/37752](https://github.com/JuliaRegistries/General/pull/37752)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-05-28 17:41] ChrisRackauckas commented on #209
Yes, the https://neuralpde.sciml.ai/dev/pinn/ks/ example works.

[2021-05-28 17:41] #209 closed

[2021-05-28 17:58] KirillZubov commented on #311
@killah-t-cell
[code]

[2021-05-28 17:59] KirillZubov commented on #308
the same problem as here https://github.com/SciML/NeuralPDE.jl/issues/305

[2021-05-28 18:00] ChrisRackauckas commented on #308
Okay, so the docs are already fixed here?

[2021-05-28 18:05] KirillZubov commented on #308
just checked, yes, it works

[2021-05-28 18:06] #308 closed

[2021-05-28 19:42] killah-t-cell commented on #311
Thanks! saved me from doing the slightly hacky `Dr(x) = [Dx(x), Dy(x), Dz(x)]`

[2021-05-28 19:43] #311 closed

[2021-05-29 09:46] asdasdqwdqwfsdf commented on #209
Hi @KirillZubov,  @ChrisRackauckas

thanks a lot for your support!

Can we now _stably_ (and efficiently) solve **8th-order** derivative equations using  the last version of "**NeuralPDE**"?

[2021-05-29 09:57] asdasdqwdqwfsdf commented on #276
Hi @ChrisRackauckas

is it possible that we can set the weights for the boundary terms using NeuralPDE?

[2021-05-29 10:26] ChrisRackauckas commented on #276
Not yet. We're working on that.

[2021-05-29 10:31] ChrisRackauckas commented on #209
Probably? You might want Diffractor.jl integration to make it better, but IIUC it should work now.

[2021-05-29 10:43] #215 closed

[2021-06-01 20:10] ChrisRackauckas commented on #14
@JuliaRegistrator register()

[2021-06-01 20:11] JuliaRegistrator commented on #14
Registration pull request created: [JuliaRegistries/General/37964](https://github.com/JuliaRegistries/General/pull/37964)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-06-02 10:55] KirillZubov opened #315 "Stable and Dev version of Doc"
After adding changes in the main branch, the documentation build for both the stable and dev versions.
But need that only the dev version should be updated and the stable version should correspond to the latest release.

[2021-06-02 11:23] #315 closed

[2021-06-02 12:30] #288 closed

[2021-06-03 14:53] #296 closed

[2021-06-09 12:10] finmod opened #319 "Cannot import ModelingToolkit: Interval, infimum, supremum"
Loading the packages to run the updated PINNs example

[code]

gives:

WARNING: could not import ModelingToolkit.Interval into Main
WARNING: could not import ModelingToolkit.infimum into Main
WARNING: could not import ModelingToolkit.supremum into Main

[2021-06-09 12:14] ChrisRackauckas commented on #319
Remove `import ModelingToolkit: Interval, infimum, supremum`

[2021-06-09 12:22] finmod commented on #319
then running the next Julia cell:

[code]

you get:

UndefVarError: Interval not defined

Stacktrace:
 [1] top-level scope
   @ In[3]:19
 [2] eval
   @ .\boot.jl:360 [inlined]
 [3] include_string(mapexpr::typeof(REPL.softscope), mod::Module, code::String, filename::String)
   @ Base .\loading.jl:1094

[2021-06-09 12:27] finmod commented on #319
NeuralPDE v3.8.0 and ModelingToolkit v5.9.1

[2021-06-09 12:29] ChrisRackauckas commented on #319
And Symbolics.jl?

[2021-06-09 12:29] ChrisRackauckas commented on #319
NeuralPDE is v3.11.1.

[2021-06-09 12:48] finmod commented on #319
Installing Symbolics.jl was incompatible with StructuralIdentifiability and SIAN. I removed them and updated. Now NeuralPDE is updating to v3.11.1 and ModelingToolkit to v5.18.1. This should do it.

[2021-06-09 13:22] ChrisRackauckas commented on #319
Yup that should do it.

[2021-06-09 13:26] finmod commented on #319
But you have to put `import ModelingToolkit: Interval, infimum, supremum` back in.

[2021-06-09 13:30] ChrisRackauckas commented on #319
That's bad. Those should be exported.

[2021-06-09 13:31] ChrisRackauckas commented on #319
what where would you need those functions?

[2021-06-09 13:41] finmod commented on #319
In the PINNs FP example as well as in most others, there are several instances of these functions. I agree that the import should disappear.
[code]
and in here:
[code]

[2021-06-09 13:43] ChrisRackauckas commented on #319
I think we should just change the tutorial

[2021-06-09 13:43] ChrisRackauckas commented on #319
[code]

etc. Much nicer down the line. Requires less (unnecessary) machinery.

[2021-06-09 23:20] ChrisRackauckas commented on #14
@JuliaRegistrator register()

[2021-06-09 23:20] JuliaRegistrator commented on #14
Registration pull request created: [JuliaRegistries/General/38524](https://github.com/JuliaRegistries/General/pull/38524)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-06-10 12:08] KirillZubov opened #320 "The loss function for each equation"
For now, we create one loss function for all equations and one function for all boundary conditions.
The goal of the problem is to create loss functions for each equation and boundary conditions to provide more access to each loss function for a developer.

[2021-06-10 12:14] ChrisRackauckas commented on #320
That would be useful for multi-objective optimization. Are there good optimizers that support that?

[2021-06-10 14:26] KirillZubov commented on #320
Actually, this is a special case of what we call adaptive loss reweighting: `L(θ) = sum(w1(θ)*L1(θ),...,wn(θ)*Ln(θ)) `

The first thing I would like to do is update normalize coefficient(N) for the quadrature method.
`1/N*loss(θ)`
 we use N as the number of points and in the quadrature method, we do not know how many points, so there is now a very rough approximation `N = 10^dim `

I would like to

[2021-06-11 10:35] ChrisRackauckas commented on #14
@JuliaRegistrator register()

[2021-06-11 10:36] JuliaRegistrator commented on #14
Registration pull request created: [JuliaRegistries/General/38652](https://github.com/JuliaRegistries/General/pull/38652)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-06-11 19:40] KirillZubov opened #322 "Extract num of points for quadrature.jl methods"

[2021-06-14 11:13] KirillZubov opened #323 "kwarg isFloat32"
I think it needs to add a flag that determines the accuracy of the calc.
isFloat32 = True/False, default True
[code]
it needs to add conversion of constants to the desired type in the parser

[2021-06-14 11:15] ChrisRackauckas commented on #323
No, it should not be done like that. It should just follow the input types. There's no reason to avoid `eltype(p)` stuff because the compiler always hoists those out to no-ops. There's literally zero runtime cost to doing so. There's no reason to specialize on `Float32`: it can just follow the input element types.

[2021-06-14 11:18] KirillZubov opened #324 "kwarg isGPU"
In order to calculating with GPU requires an understandable parameter,
instead `initθ = DiffEqFlux.initial_params(chain) |> gpu`.
I think better
[code]

[2021-06-14 11:20] ChrisRackauckas commented on #324
No, because that's a lot less general. What about TPU support? AMDGPU support? Multi-GPU support? All of those already have a one line solution. There's no reason to put this into the package: it would decrease the features, increase the amount that has to be maintained, and increase the amount that has to be documented.

[2021-06-14 11:20] #324 closed

[2021-06-14 11:20] #323 closed

[2021-06-14 11:21] ChrisRackauckas commented on #323
We can chat about these some more, but these last two issues are very worrisome. That's exactly the opposite of generic programming.

[2021-06-14 11:34] KirillZubov commented on #324
ok, I got it

[2021-06-14 11:39] KirillZubov commented on #323
ok, I got it

[2021-06-16 13:18] finmod opened #325 "Restructuring the NeuralPDE package and its docs"
Introduce in the "features" section of docs, a roadmap of development of NeuralPDE along the line of section 3 of https://arxiv.org/abs/2101.08068 that is in two parts: A deterministic approach by NN for nonlinear 1st order PDEs and A probabilistic approach by NN for nonlinear 2nd order PDEs.

Generalize ModelingToolkit formulation of all PDE problems and examples with common/standard dictionary o

[2021-06-16 14:13] #320 closed

[2021-06-16 17:46] alexpattyn opened #327 "Issue with 1D wave equation example"
# Issue

Looking at the [1D wave equation example](https://neuralpde.sciml.ai/stable/pinn/wave/), I am not sure if the presented solution is correct. I discussed this on a [julia discourse thread](https://discourse.julialang.org/t/issue-solving-2d-wave-equation-with-modelingtoolkit-jl/62963). To briefly summarize the solution in that NeuralPDE.jl example isn't what I would expect to see, and it do

[2021-06-16 17:58] ChrisRackauckas commented on #327
@KirillZubov could you look into this?

[2021-06-16 19:50] KirillZubov commented on #327
@alexpattyn it is not NeuralPDE `discretization = MOLFiniteDifference([x=>dx],t) ` it is DiffEqOperators

[2021-06-16 19:57] ChrisRackauckas commented on #327
Oh @alexpattyn did you have a NeuralPDE example?

[2021-06-16 20:00] alexpattyn commented on #327
@ChrisRackauckas @KirillZubov Originally I was referring to https://neuralpde.sciml.ai/stable/pinn/wave/, but I also provided an Matlab example and another when I converted the NeuralPDE to a ModelingToolkit example.

[2021-06-16 20:03] ChrisRackauckas commented on #327
ModelingToolkit isn't a solver, so I don't know what that last statement means. And we know that DiffEqOperators isn't generally ready to use, that's a separate issue. But this I thought was just NeuralPDE? Can someone just generate the animation from the slices of the neural network and double check?

[2021-06-16 20:40] alexpattyn commented on #327
Running the example from the docs I referenced earilier.

![slice2](https://user-images.githubusercontent.com/28536677/122290197-7b71d600-cec1-11eb-97fb-84d5fbde72b7.png)

![slices](https://user-images.githubusercontent.com/28536677/122290202-7dd43000-cec1-11eb-8e31-221d95cf191c.gif)

[2021-06-16 20:41] alexpattyn commented on #327
I wouldn't even say the analytical solution is correct for a wave equation. There is no outwards propagation.

[2021-06-16 20:42] ChrisRackauckas commented on #327
Yeah that looks wrong. Worth investigating. Thanks for noticing.

[2021-06-16 20:46] alexpattyn commented on #327
No problem. If there are any PRs I'll be happy to test them out. Then for reference:

[code]

[2021-06-16 21:41] KirillZubov commented on #327
I updated wave docs. The code was a bit outdated. Now the prediction matches the stated analytical solution.

[2021-06-16 21:46] KirillZubov commented on #327
@alexpattyn  If I understood correctly matlab solution on the x_domain =  [-2.5, 2.5] with u(t,-2.5) ~ 0, u(t,2.5) ~ 0.
and here https://neuralpde.sciml.ai/dev/pinn/wave/ x_domain =  [0.,1.]

[2021-06-16 22:41] ChrisRackauckas commented on #327
oh

[2021-06-16 23:03] alexpattyn commented on #327
The x domain is -2.5 to 2.5 due to the wave solver using a spectral method. It implements a perfectly-matched-layer (PML) which extends the domain (from the original -0.5 & 0.5) and attenuates the waves so they don't wrap around. So technically I wouldn't say it has any BCs at u(0,-2.5) or u(0,2.5). Its just that starting @ x = -0.5 or 0.5 the waves become highly attenuated before they reach x=-2.

[2021-06-17 01:25] KirillZubov commented on #327
it is a different task. I opened the tutorial to k-wave and the governing equation that solved  is
![image](https://user-images.githubusercontent.com/12683885/122314486-f28a8700-cf20-11eb-9cff-823a8bf2aa2d.png)
it is reduced to a simple wave equaеtion -  Dtt(u(t,x)) = const*Dxx(u(t,x)),  when all constants
so it is definitely not a simple wave equation becouse
there is damping in your solution and

[2021-06-17 12:30] KirillZubov commented on #327
I'm double-checked and solved analytically(by d'Alembert's solution, using a Fourier transform ) for the considered pde - https://neuralpde.sciml.ai/dev/pinn/wave/. it all is definitely correct and prediction and analytic and the same solution for domain [-2.5,2.5]. @alexpattyn Your example doesn't refer to that task although it all calls a Wave equation.
-as Dx(u(0,x) = 0  then it should be a "st

[2021-06-17 17:44] KirillZubov commented on #327
https://github.com/SciML/NeuralPDE.jl/commit/3576450077dc441b5878afd6fea72628449e4f74

[2021-06-24 12:38] #302 closed

[2021-06-24 18:28] KirillZubov opened #331 "Interactive plot script analysis of results"
Interactive visualization of results would be a convenient tool for analysis

Makie.jl looks suitable for this
https://github.com/JuliaPlots/Makie.jl
examples:
http://juliaplots.org/MakieReferenceImages/gallery/index.html

![example](https://user-images.githubusercontent.com/1010467/81500379-2e8cfa80-92d2-11ea-884a-7069d401e5d0.gif)
two simple cases:
iteration number slider ->(prediction and error

[2021-06-24 18:42] KirillZubov commented on #327
In general, it would be great to get the prediction and add it to the doc for damping oscillation with velocity isn't zero  (Dx(u(0,x) != 0 ) and maybe with a long-term time t_domain =[0, big_t] and compare with the analytic solution.

[code]

[2021-06-24 18:48] KirillZubov opened #332 "Examples with system of PDE"
there need more results of predictions for a system of PDE and compare with reliable results.

http://eqworld.ipmnet.ru/en/solutions/syspde.htm

[2021-06-24 18:59] KirillZubov opened #333 "Neural adapter"
- [x] first step, simple retrain
[code]

- [x] time decomposition [chain1,chain2,...,chain_n] -> total_time_domain_chain

[2021-06-25 15:32] alexpattyn commented on #327
That is something I am interested in working on if I get some time. I did have an issue with my Matlab results matching up (in a broad sense, i.e. the wave propagating outwards) with Julia when:
[code]
But that isn't really a neuralpde issue. That could be due to modelingtoolkit being heavily under dev.

[2021-06-25 15:52] alexpattyn commented on #327
As a first step I could work on the simple wave equation and have an 1) analytical solution, 2) ModelingToolkit (non-ML version), and then 3) NeuralPDE prediction. Afterwards I can look at including damping oscillation.

[2021-06-25 20:00] KirillZubov commented on #327
@alexpattyn  it isn't ModelingToolkit (non-ML version) it is DiffEqOperators and "DiffEqOperators isn't generally ready to use"

[2021-06-25 20:02] alexpattyn commented on #327
Alright, so I'll hold off on DiffEqOperators, and focus on the analytical solution and NeuralPDE prediction.

[2021-06-25 20:05] alexpattyn commented on #327
Also I am assuming I shouldn't open an issue for DiffEqOperators since its still under heavy dev?

[2021-06-26 08:09] ChrisRackauckas commented on #327
No, it's because the issue and WIP PR have already been opened.

[2021-06-26 18:36] ChrisRackauckas commented on #14
@JuliaRegistrator register()

[2021-06-26 18:36] JuliaRegistrator commented on #14
Registration pull request created: [JuliaRegistries/General/39700](https://github.com/JuliaRegistries/General/pull/39700)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-07-02 07:21] KirillZubov opened #337 "Broadcast piracy"
Get rid  of override dottable for PINNs  `Base.Broadcast.dottable(x::Function) = true`
https://github.com/SciML/NeuralPDE.jl/blob/master/src/pinns_pde_solve.jl#L2

[2021-07-04 13:54] #337 closed

[2021-07-08 12:28] killah-t-cell opened #339 "Specifying a PhysicsInformedNN with variables in different dimensions"
Maybe this issue should live in GalacticOptim (if so, let me know)

Say I have a system with variables with different dimensions (e.g. a system that is partially in configuration space and partially in phase space – u1(t, x, vx) and u2(t, x)). When I try to build this system with NeuralPDE, GalacticOptim throws a DimensionMismatch error. Is there a way to get around the fact that one of the variab

[2021-07-08 12:31] ChrisRackauckas commented on #339
@KirillZubov this should generally work because we're doing it with the P2D right?

[2021-07-08 18:41] KirillZubov commented on #339
It's relate to WIP that @zoemcc do https://github.com/SciML/NeuralPDE.jl/pull/298

[2021-07-11 23:14] vaishnavtv opened #340 "LoadError: type GridTraining has no field points"
Hello,

I'm running an example with GridTraining set with some dx, but I'm getting the following error:
[code]
There's no way to set this attribute anywhere. Is it a bug, or am I missing something?

It seems like there have been some major changes in the source code since I used it last about a month and a half ago. I write my code using NeuralPDE's low-level API and I noticed the introduction of:

[2021-07-12 08:30] killah-t-cell commented on #332
I started working on this this weekend. I want to do at least 3-5 examples, but currently have only done the 2nd order constant-coefficient linear parabolic system (http://eqworld.ipmnet.ru/en/solutions/syspde/spde0101.pdf). What is the best way to submit this PR? Should I just add the examples to the docs with images?

<img width="839" alt="Screenshot 2021-07-12 at 10 28 28" src="https://user-ima

[2021-07-12 09:08] KirillZubov commented on #332
@killah-t-cell  yeap, docs is good, I guess. Create the fork and then the PR.

@ChrisRackauckas Where do you think it is better to place examples?

[2021-07-12 09:40] KirillZubov commented on #340
@vaishnavtv yep, Neural PDE is actively developing, and a lot of change. In the docs, it has some bunch of examples of how to work with low-level api.
https://neuralpde.sciml.ai/dev/pinn/low_level/
https://neuralpde.sciml.ai/dev/pinn/debugging/
https://neuralpde.sciml.ai/dev/pinn/system/

[2021-07-12 11:32] ChrisRackauckas commented on #332
We should start filling a bunch in https://github.com/SciML/SciMLTutorials.jl where the compute would automatically regenerate them.

[2021-07-15 07:26] killah-t-cell commented on #332
https://github.com/SciML/NeuralPDE.jl/pull/341 added two analytically-benchmarked systems of PDE here. Am working on a hyperbolic system as well.

[2021-07-15 13:58] KirillZubov commented on #332
@killah-t-cell cool, if you have some question with hyperbolic , feel free ask me somewhere.

[2021-07-18 17:48] vaishnavtv commented on #340
I understand. Would it be possible for you to add documentation/example code for writing low-level API that uses GPU?
I am not able to run my low-level code (that works perfectly fine on the CPU) with modifications for GPU usage.
It would be truly helpful if you could update the docs with a simple example.

[2021-07-18 17:54] vaishnavtv commented on #340
It seems as if there is some problem with the high-level examples in the docs too.
Getting the following error when I try to run the first example in NNPDE_tests_gpu.jl:

[code]
I am running the exact same piece of code as given in the test file. This is the same error I get when I try to run the low-level code too. Am I missing something trivial?

[2021-07-18 20:38] KirillZubov commented on #340
yeap, it makes sense, I open the issue.

[2021-07-18 20:44] KirillZubov opened #342 "GPU Low-level api example"
add in docs and in testset a Low-level API example with GPU

[2021-07-18 20:50] KirillZubov commented on #340
Could you please send your GPU low-level code

[2021-07-18 20:56] vaishnavtv commented on #340
https://gist.github.com/vaishnavtv/114fe695c44458a643da4ce6f76083a8

[2021-07-18 21:17] KirillZubov commented on #340
I checked the first example in NNPDE_tests_gpu.jl, it works fine with the last release. So the problem is not with NeuralPDE.
It looks like that your problem is generally with CUDA.jl
check that CUDA.jl installed correctly https://cuda.juliagpu.org/stable/installation/overview/

and also could you please sent `VERSION` and `] status`

[2021-07-18 21:30] vaishnavtv commented on #340
VERSION
[code]

and status:
[code]

[2021-07-18 21:51] vaishnavtv commented on #340
I get this warning whenever I try to run any GPU code:
[code]
Do you think this is the cause of the issue?

[2021-07-18 22:05] KirillZubov commented on #340
I'm not sure, you use CUDA v2.6.3, try to update to CUDA v3.3.

[2021-07-18 22:16] vaishnavtv commented on #340
You seem to be right. I'm getting the same error:
[code]
when I try to test CUDA. I appreciate the prompt assistance.
In any case, could you still add an example in your documentation for  low-level API using GPU? It'd be immensely helpful.

[2021-07-18 22:27] KirillZubov commented on #340
I opened the issue so that will be added soon https://github.com/SciML/NeuralPDE.jl/issues/342

[2021-07-18 22:27] #340 closed

[2021-07-18 22:33] vaishnavtv commented on #340
@KirillZubov were you able to run the code I posted?

[2021-07-19 11:22] KirillZubov commented on #340
@vaishnavtv not yet,
I have a question. Why do you prefer low-level? What are you missing with high level? I'm trying to figure out what can be improved more

[2021-07-19 14:21] vaishnavtv commented on #340
Our lab is investigating different training strategies to improve the stability of the PINNs solver. This involves updating the collocation points at which the loss functions are computed, and also allows us to look at the gradients of all the individual loss functions, including additional losses, if any.
We've been getting by so far with just the CPU, but we'd like to pursue our research in high

[2021-07-19 18:36] KirillZubov commented on #340
Thanks for the answer. Yep, I tried to implement a low-level api that it was useful for debugging and PINNs investigators.  Cool, that is works in this way.

[2021-07-21 14:19] KirillZubov commented on #331
https://github.com/JuliaGizmos/Interact.jl

[2021-07-21 14:24] ChrisRackauckas commented on #331
Yes, building some Makie visualizations would be great.

[2021-07-22 12:16] finmod opened #344 "Solving high dimensional PDEs using Tensor Train"
https://arxiv.org/abs/2102.11830

[2021-07-22 20:10] #332 closed

[2021-07-22 21:09] ganatma opened #346 "Method Error: no method matching eps(::Type{Union{Nothing, Float32}})"
Hello,

I am just starting off with Julia and am facing the following issue when trying to run the sample codes.

I am working on a Windows 10 (x64 bit) environment with Julia set up accordingly.

[code]

I am facing the following error when running the

[code]
[code]

Thanks for your help in advance.

[2021-07-22 21:40] ganatma commented on #346
I have been using the latest version of Flux - 0.12.5 which creates a problem of initializing as {Nothing}. Downgrading the package to 0.12.4 solved the issue.

Thanks

[2021-07-22 21:40] #346 closed

[2021-07-23 07:12] killah-t-cell commented on #327
Started working on this. I am only getting half-decent results for some reason.

I think my analytical solution is sound:

![1Dwave_damped](https://user-images.githubusercontent.com/26853713/126747922-4af47f80-a197-40c9-b67b-c4acc540f4ca.gif)

But the prediction is a bit... moody. For example, the prediction changes significantly (for the worse) when I increase the number of max iterations. And I

[2021-07-23 07:27] killah-t-cell commented on #327
Here is the analytical solution and the prediction side by side in 0:0.1:1 domain

![1Dwave_damped_predict](https://user-images.githubusercontent.com/26853713/126750073-ca7f9dbe-eaf6-4ac6-bce2-62062de162f5.gif)
![1Dwave_damped](https://user-images.githubusercontent.com/26853713/126750075-d85584e0-44f3-4403-bd26-853987fbff8f.gif)

[2021-07-23 07:44] killah-t-cell commented on #327
https://github.com/SciML/NeuralPDE.jl/pull/347 opened a PR. Looking forward to discussing this further :)

[2021-07-23 12:29] KirillZubov opened #349 "add DiffEqOperator tests"
DiffEqOperator has a lot of good convergence tests for pde. It would be nice to cover with this tests NeuralPDE.
https://github.com/SciML/DiffEqOperators.jl/tree/master/test/MOL

[2021-07-23 13:52] #322 closed

[2021-07-23 18:39] KirillZubov commented on #327
@killah-t-cell nice, thanks. I fixed some typos and update gif's plot.

[2021-07-25 16:43] ChrisRackauckas commented on #8
@JuliaRegistrator register()

[2021-07-25 16:44] JuliaRegistrator commented on #8
Registration pull request created: [JuliaRegistries/General/41486](https://github.com/JuliaRegistries/General/pull/41486)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-07-26 10:35] KirillZubov opened #353 "ModelingToolkit @register function not defined"
[code]

[2021-07-26 11:00] KirillZubov commented on #353
https://github.com/SciML/NeuralPDE.jl/blob/d42dbd54072567096407e990c8685a63ea7d1b13/src/pinns_pde_solve.jl#L188

[2021-07-26 19:29] KirillZubov commented on #353
as we convert any of the functions into a symbol. @register function is also converted.

[2021-07-26 19:31] KirillZubov commented on #353
@ChrisRackauckas  there is a way to resolve it without broadcast piracy?

[2021-07-26 20:29] KirillZubov commented on #353
I still think that the default function is not dottable and use $ to avoid broadcast and interpolation in Expr is strange

https://github.com/JuliaLang/julia/blob/460e981de68169acea23cbe768ea4f8be50d7b85/base/broadcast.jl#L1295

https://docs.julialang.org/en/v1/manual/metaprogramming/#man-expression-interpolation

[2021-07-28 10:44] KirillZubov opened #354 "Time-Dependent PDE and RNN"
https://arxiv.org/abs/2009.03892

[2021-07-28 10:53] KirillZubov opened #355 "Adaptive activation function"
https://arxiv.org/abs/1906.01170

[2021-07-28 13:28] killah-t-cell opened #356 "Trouble modelling wave equations"
Hi,

I am having a little bit of trouble getting good results when I try to model wave equations using NeuralPDE. The system works, but the desired accuracy is not really achieved. This can be seen in the 2nd example in our documentation https://neuralpde.sciml.ai/stable/pinn/wave/

as well as in the following example for the 1D nonhomogeneous wave equation:

![1Dnonhom_wave_sol_u](https://user-im

[2021-07-29 11:47] killah-t-cell opened #357 "Add more interfaces to the result of a PINN"
Say I defined and solved a PDE with NeuralPDE and I have the result. I want to do things with that result beyond plotting it in a space. It would be great to have an interface that would let me access the solution of each variable in space.

Sort of like DiffEq.jl has `sol.t[8]` interface, it would be awesome if I could do `res.y[3]` to access the values of my solution.

[2021-07-29 12:26] KirillZubov commented on #357
Only it is a continuous solution, not discrete, sort of like  `res.y(x)` where x in domain_x

[2021-07-29 12:44] KirillZubov commented on #357
but yeah, I agree, it will be cool to have some solution wrapper that can make base manipulation to a solution.
something like:
[code]

[2021-07-29 12:45] killah-t-cell commented on #357
Good point. Exactly. It would also make 3D + time plotting easier.

[2021-07-29 19:02] killah-t-cell commented on #354
<img width="1282" alt="Screenshot 2021-07-29 at 21 00 33" src="https://user-images.githubusercontent.com/26853713/127550634-1ad34db5-68df-4832-ac0a-515feaca2415.png">

I skimmed through the paper and it is very interesting. Do you know what the authors mean by data? Does it just mean feeding in the boundary conditions and initial conditions with correct values? Or does it mean actually having expe

[2021-07-29 21:50] KirillZubov commented on #354
Yeah, it is a sort of data-driven method in the article.
The main point here is that LSTM should be the most suitable NN for predicting time-dependent PDE in generally.

[2021-07-31 10:44] ChrisRackauckas commented on #357
And I'm not sure this is the right level to be thinking about the solution. I think there needs to be a common interface around all consumers of the PDESystem interface for how to then represent and plot the PDE results. That said, since the results take many different forms, that's pretty hard.

[2021-07-31 13:34] KirillZubov opened #358 "Parallel Domain Decomposition"
https://arxiv.org/pdf/2104.10013.pdf

- [ ] GPU
- [ ] multi-GPU
- [ ] MPI

[2021-08-01 18:56] 00krishna opened #359 "Update documentation to show how to incorporate ground truth data into pde simulation"
Hey @KirillZubov this is a follow up on the slack question:
[code]
You mentioned that a user can do this through the estimating parameters approach.

[code]

I am just nothing this here to track it. If you have any example code I can try, that would be great. But I am happy to help run some experiments and open a PR to update the documentation to include this explanation for you.

[2021-08-02 21:15] asdasdqwdqwfsdf commented on #276
Hi @ChrisRackauckas,

can we now use "MiniMax" function in "NeuralPDE.jl"?

[2021-08-03 05:40] killah-t-cell commented on #284
It might be worth pointing that out in the docs. We could add a little caveat wherever GridTraining is being used (e.g. https://neuralpde.sciml.ai/stable/pinn/wave/)

[2021-08-03 06:00] killah-t-cell opened #360 "Problem solving time-dependent PDE with Neumann BCs"
I just tried to solve a hyperbolic equation with Neumann BCs using adaptive derivative. Unfortunately, it performed badly. The version without the adaptive derivative performed the same. I tried several training strategies and in this case, QuasiRandomTraining worked the best.

My guess is this is related to adding time. It seems that once you add time, you need to add the analytical solution to t

[2021-08-03 06:35] killah-t-cell commented on #360
Just tried optimizing with ADAM + BFGS and that didn't work well either just fyi :)

[2021-08-03 09:10] ChrisRackauckas commented on #284
I think it would just be best to avoid putting it into tutorials. The tutorials should match how we expect users to be using the code, and given we don't recommend it, that's an uncomfortable disconnect.

[2021-08-03 09:11] ChrisRackauckas commented on #360
It does help. Did you try it out?

[2021-08-03 09:33] finmod commented on #284
I suggest to set the best current defaults in tutorials to reflect the findings of section 5 of the citation paper: QuasiRandomSampling and ADAM+BFGS.

[2021-08-03 10:44] ChrisRackauckas commented on #276
Check the WIP PR.

[2021-08-03 10:59] ChrisRackauckas commented on #284
Note that the quadrature methods were found to still be more robust, but indeed quasi-random sampling once tuned is quite fast. So either one works.

[2021-08-03 12:00] finmod commented on #284
@ChrisRackauckas Speaking of  https://github.com/ChrisRackauckas/PINN_Quadrature, is it a case of "The check is in the post!"?

[2021-08-03 12:01] ChrisRackauckas commented on #284
what do you mean?

[2021-08-03 12:08] finmod commented on #284
You indicate in the PINN for all problems paper that PINN_Quadrature tests are in your github repo but it is no yet uploaded.

[2021-08-03 12:10] ChrisRackauckas commented on #284
Oh, forgot to make it public 😅

[2021-08-03 12:18] finmod commented on #284
Great! Thanks

[2021-08-03 15:46] killah-t-cell commented on #360
@ChrisRackauckas I'm not sure I know how to. How does one go about doing that?

[2021-08-03 19:06] ChrisRackauckas commented on #360
There should be multiple tutorials which show it IIRC.

[code]

[2021-08-03 20:04] killah-t-cell commented on #360
@ChrisRackauckas I will look them up. I had tried something similar (it's what I mean by ADAM + BFGS) and it definitely got me closer but it still struggled to approximate.

<img width="667" alt="Screenshot 2021-08-03 at 22 03 35" src="https://user-images.githubusercontent.com/26853713/128078711-e957764a-cdde-4ad9-ba2a-ff760a7c2e8c.png">

Here is the updated code for reference:

[code]

[2021-08-04 15:52] atiyo commented on #355
Where is the best place for adaptive activations to live? Architectural aspects such as `FastDense` are in `DiffEqFlux` as far as I can tell. But does it make sense to add adaptive activations in there if their only use is in PINNs?

[2021-08-04 17:37] 00krishna commented on #177
@KirillZubov do you know of any updates on this issue? I was just trying to understand what the underlying problem was with including intermediate expressions in one of the system equations?

[2021-08-04 22:27] KirillZubov commented on #360
and here
`remake(prob, p=res.minimizer)`
correct
`remake(prob, u0=res.minimizer)`

[2021-08-04 22:32] ChrisRackauckas commented on #355
This PINN-only stuff can make sense here, like https://github.com/SciML/NeuralPDE.jl/pull/336 . We need to expand the docs to include a section for it.

[2021-08-04 22:37] KirillZubov commented on #360
[code]

![bc_homogeneous](https://user-images.githubusercontent.com/12683885/128264251-59592778-82da-445e-ad9f-146b1b84369e.png)

[2021-08-04 23:54] KirillZubov commented on #360
and with adapt derevative. the coolest thing in adaptive der that we are not limited by the accuracy of the derivative algorithm
[code]
![ad](https://user-images.githubusercontent.com/12683885/128269826-6e2b91da-0ba2-4898-9038-d818ff279960.png)

[2021-08-05 05:01] killah-t-cell commented on #360
Ah of course. That was silly of me. Thanks for finding this.

[2021-08-05 05:02] killah-t-cell commented on #360
Should I add this to the documentation? If so, where? @KirillZubov

[2021-08-05 15:01] KirillZubov commented on #177
so as we generate data inside, that means that every iteration it new set of data of random, quasi-random number, adaptive quadrature's  adaptively selects the set and the size of the set may be different on a new iteration
https://neuralpde.sciml.ai/dev/solvers/pinns/#Training-strategy
and we can't just input data  in general, it should be respected to  variables - x,y

not work:
[code]
 it can b

[2021-08-05 15:08] KirillZubov commented on #177
probably I think it is a bad idea to inject data in a high level of eq.
to use the additional loss is bestю And probably the issue can be close

mention @ChrisRackauckas

[2021-08-05 15:14] ChrisRackauckas commented on #177
Yeah, is the data actually part of the model or the training process? Those are two different things, and I think this issue is just from confusing the two. For this kind of thing, instead it would be better to directly solve the stochastic PDE, which isn't something we can do right now but is better than solving for a specific random number sequence.

[2021-08-05 15:28] KirillZubov commented on #177
it will be cool to have an example with ground-truth data, like interpolating some operator in pde from real-world data.
but the big question is how to connect it together math + data, inside neuralpde some effective way.

[2021-08-05 15:29] ChrisRackauckas commented on #177
You just define an appropriate additional loss term.

[2021-08-05 19:28] KirillZubov commented on #360
@killah-t-cell we going to update the doc so I will add the example together with the update.

[2021-08-06 05:49] 00krishna commented on #177
I am trying to understand how I can help with this, @ChrisRackauckas @KirillZubov ? In the case of this particular problem, the case is wildfire spread. So there is a 2 dimensional array where each pixel represents the fuel available to the fire. So since this is a level set problem, the boundary will evolve probably in proportion to the curvature at each mesh point and the fuel available at each

[2021-08-06 09:54] ChrisRackauckas commented on #177
If it's not just a loss term, then turn the data into a function using an interpolation and register the interpolation.

[2021-08-11 07:15] killah-t-cell commented on #356
I think this was an user error.

[2021-08-11 11:31] #356 closed

[2021-08-11 12:59] RohitRathore1 commented on #268
Hey @ChrisRackauckas do we have any progress in it? Just curious.

[2021-08-11 13:36] troyrock commented on #268
I made some progress but then I got a new job and I'm in the process of moving from California to Colorado.  My computer is packed away with the current progress on it.  I apologize for not uploading my progress first, moving has been hectic.

[2021-08-12 11:23] killah-t-cell commented on #234
I think this is working as expected. Just tested it with `Dx(u(x, t) * Dx(w(x, t))) ~ 0`. It seems to work as expected.

Running transform_expression returns `0 ~ Differential(x)(Differential(x)(w(x, t))*u(x, t))`
Running build_loss_function returns `:((Differential(x))((Differential(x))((u⋆)(cord, var"##θ#368", phi))) * (u⋆)(cord, var"##θ#368", phi) + (Differential(x))((u⋆)(cord, var"##θ#368", ph

[2021-08-12 15:53] KirillZubov commented on #234
we need tests for the parser

[2021-08-12 18:55] killah-t-cell commented on #234
What tests do you imagine?

[2021-08-13 11:40] KirillZubov opened #368 "Reduce precompile time"
https://discourse.julialang.org/t/22-seconds-to-3-and-now-more-lets-fix-all-of-the-differentialequations-jl-universe-compile-times/66313

- [ ] first, remove all `using` that don't use

[2021-08-13 14:03] KirillZubov commented on #234
@killah-t-cell  I think something like that
[code]

[2021-08-13 14:14] KirillZubov opened #369 "Cover parser by tests"
create a bunch of tests covering the parser to keep track of that the character part is working correctly
MWE
[code]

[2021-08-13 14:15] #234 closed

[2021-08-13 21:26] #279 closed

[2021-08-16 12:03] killah-t-cell commented on #368
good first issue?

[2021-08-16 12:09] ChrisRackauckas commented on #368
Maybe not? Really digging into compile times takes a bit of knowhow, but it doesn't require NeuralPDE-specific knoweldge.

[2021-08-18 10:16] RainerHeintzmann opened #376 "retrieving PINN result"
In the examples, given [here](https://neuralpde.sciml.ai/stable/pinn/2D/), as opposed to reshaping, the code below may be a slightly more elegant way to retrieve the PINN information:
[code]

It would be great, if there was a simple function to retrieve the result in the form of an array. Maybe by introducing a dispatch like `phi(domains, res.minimizer)`?

[2021-08-18 13:58] KirillZubov commented on #376
Related to the issue: https://github.com/SciML/NeuralPDE.jl/issues/357

[2021-08-22 23:16] AJCZ opened #378 "NeuralPDE.jl HJB example not working"
Hi! I tried to replicate the HJB example on NeuralPDE github (second example here: https://github.com/SciML/NeuralPDE.jl), but got

1. a warning when importing NeuralPDE
2. an error when declaring a TerminalPDEProblem

Pkg.update() did not help either... Any suggestion how to proceed from here would be much appreciated! Many thanks!

Press Enter to start Julia.
Starting Julia...
[ Info: Precompili

[2021-08-25 11:16] #353 closed

[2021-08-30 20:29] vaishnavtv opened #385 "Alternative to ModelingToolkit for PDE expressions"
Hi,

Is there an alternative way to describe the PDE to solve that doesn't require the use of ModelingToolkit or Symbolics? For example, if I were to need to write:
[code]
where `f(x)` cannot be represented symbolically (https://symbolics.juliasymbolics.org/dev/manual/faq/).
I am aware of Symbolics's `@register` macro, but I'm afraid it would be too cumbersome to obtain the analytical expressions

[2021-08-30 20:33] ChrisRackauckas commented on #385
You don't need to. It doesn't use symbolic derivatives, it just needs to be able to AD through `f`.

That's exactly a case that works with `@register`.

[2021-08-30 20:55] vaishnavtv commented on #385
Thanks for the quick response!
So I am able to register the functions inside `f(x)` that are not symbolically representable, but those inner functions require derivatives too. Assume that in the following function, the inner functions `g_i(x)` are non-quasi-static, and therefore need `@register.`
[code]
and I registered all of the inner `g_i` functions so that `f(x)` doesn't return the `non-boolea

[2021-08-30 23:03] ChrisRackauckas commented on #385
What is the error that is thrown? Please post the whole error.

[2021-08-30 23:34] vaishnavtv commented on #385
Okay, a portion of  my `f(x)` looks like this:
[code]
normV(xV) has been `@register`-ed.

Simplifying for the sake of explanation, the pde is: `Differential(xV)(f([xV, xα])) ~ 0.0f0`

From NeuralPDE, the error is now:
[code]

Is that not expected?

[2021-08-30 23:35] ChrisRackauckas commented on #385
Not expected. That looks like a namespacing error in the NeuralPDE parsing. @KirillZubov could you take a look?

[2021-09-02 14:35] JuliaRegistrator commented on #14
Registration pull request created: [JuliaRegistries/General/44062](https://github.com/JuliaRegistries/General/pull/44062)

After the above pull request is merged, it is recommended that a tag is created on this repository for the registered package version.

This will be done automatically if the [Julia TagBot GitHub Action](https://github.com/marketplace/actions/julia-tagbot) is installed, or can

[2021-09-02 16:43] KirillZubov commented on #385
@vaishnavtv
NeuralPDE on this moment doesn't work with vector input  `f([xV, xα]) `

`Differential`  work only with neural network(NN) input

[code]
where u is a variable that is predicted by NN

It needs @register to function together with AD derivative.

[code]

[2021-09-02 17:00] KirillZubov commented on #385
if it is symbolic form, ModelingToolkit handles it:
@parameters x
@variables u(..)
D = Differential(x)

f(x) = x^2
julia> eq_l = D(u(x) + fx(x))
Differential(x)(u(x) + x^2)

julia> expand_derivatives(eq_l)
Differential(x)(u(x)) + 2x

Another possible case is @register's function.

Issue: need to support derivative for  @register functions

[2021-09-02 20:22] vaishnavtv commented on #385
So AD isn't called by default when parsing through `@register`-ed function expressions which require derivatives?
The AD derivatives of such functions have to be manually created and registered for MTK to work?

[2021-09-02 20:24] vaishnavtv commented on #385
Please let me know if this is not a NeuralPDE issue but a MTK or a Symbolics issue.

[2021-09-02 21:15] KirillZubov commented on #385
NeuralPDE parser issue with derivative of @register's function

[code]

[2021-09-03 10:02] killah-t-cell opened #386 "Symbolic integration and infinity"
Maybe a question for @ashutosh-b-b, how would a user best symbolically integrate from - to + infinity in NeuralPDE?

<img width="142" alt="Screenshot 2021-09-03 at 11 59 16" src="https://user-images.githubusercontent.com/26853713/131987631-164380b2-6c1e-4a91-a29d-eabb1419ed0e.png">

Cuba has some tips on how to do that https://giordano.github.io/Cuba.jl/stable/#Installation-1. But I am not sure ho

[2021-09-03 10:40] ChrisRackauckas commented on #386
Quadrature.jl does the transformations automatically, so this should just work?

[2021-09-04 19:47] ashutosh-b-b commented on #386
Yes, we added the support for infinite and semi infinite integral in Quadrature.jl.

[2021-09-04 20:07] killah-t-cell commented on #386
Thank you! Just wanted to check.

[2021-09-05 02:32] BuddhiLW opened #387 "Error regarding complex function in boundary condition (MethodError: no method matching decompose(::Num))"
When I run the following boundary conditions:

[code]

with δρ and δv:
[code]

I get an error relative to the δρ, δv complex numbers' definition. If I remove these terms from the boundary conditions, the solver works.

[code]

How could I use these boundary conditions?

Minimum Working Example source: https://github.com/BuddhiLW/wlq-carflow/blob/main/NeuralPDE/neuralPDE.jl

[2021-09-06 09:05] killah-t-cell commented on #386
@ashutosh-b-b but how would the integral definition look like?

If I try to define `Iv = Integral(v in DomainSets.OpenInterval(-Inf, Inf))` and input that into a PDE and try to solve it with NeuralPDE, I get throw an error `LoadError: MethodError: no method matching (::Zygote.var"#pairs_namedtuple#351"{(), NamedTuple{(), Tuple{}}})(::Tuple{})` when running GalacticOptim.solve.

[2021-09-06 10:27] killah-t-cell commented on #386
@ashutosh-b-b and @ChrisRackauckas another question: it currently takes probably 100x longer to train a system with an Integral than a system without an integral – even if it is an integral over a small interval. Can this be improved in any way?

[2021-09-06 15:00] ChrisRackauckas commented on #386
What does the profile show?

[2021-09-07 07:12] killah-t-cell commented on #386
Pardon the total data dump, but this is what is shows. Just empirically: a 5-step training lasts around 10 seconds without the integral and about 1 hour with it (I'm on a CPU right now)

[code]
<img width="948" alt="Screenshot 2021-09-07 at 09 08 53" src="https://user-images.githubusercontent.com/26853713/132300124-d99e960d-b8ec-4de3-956b-df96abe3a60f.png">

[2021-09-07 10:39] killah-t-cell commented on #339
Merged https://github.com/SciML/NeuralPDE.jl/pull/374

[2021-09-07 10:39] #339 closed

[2021-09-07 14:11] KirillZubov opened #388 "Handle the case, interval in one point `t ∈ Interval(T1, T1)`"
if t ∈ Interval(T1, T1) so it should be one point dataset -  [T1] instead  empty array

[2021-09-07 14:16] KirillZubov commented on #387
@BuddhiLW complex numbers are not supported, only real numbers.

[2021-09-07 14:29] KirillZubov commented on #387
You can calculate the norm or the real part of complex numbers,

or also  represent the problem as a system with two variables
h(t, x) = [u(t, x),  v(t, x)] where u - the real part and v  - the imaginary part
p = u(t, x) + i*v(t, x)

2.2. Example Schrodinger Equation
https://arxiv.org/pdf/1711.10561.pdf

[2021-09-08 05:06] killah-t-cell commented on #355
https://arxiv.org/abs/2006.09661 this is also relevant.

[2021-09-08 05:35] killah-t-cell opened #389 "Support solving equations in a mesh"
It would be awesome to support the ability to use NeuralPDEs to solve equations in a mesh.

<img width="292" alt="Screenshot 2021-09-08 at 07 26 04" src="https://user-images.githubusercontent.com/26853713/132451417-f11f0f67-6efd-43ef-b105-f2e831870ba0.png">

This is super important for fluid models. Basically a user would set up a mesh, specify initial conditions where the equation is not 0, and t

[2021-09-08 12:22] KirillZubov commented on #389
this can be done with a `@register`
[code]

[2021-09-08 12:28] KirillZubov commented on #389
@killah-t-cell what do you mean - use NeuralPDEs to solve equations in a mesh. Could you describe it in a little more detail?

[2021-09-08 13:31] KirillZubov opened #390 "Broadcast integral calculation and increase performance"
the current calculation of the integral is in for each index in the loop, which is very slow.

https://github.com/SciML/NeuralPDE.jl/blob/2442835ea24fd2e2dbb4663c8d05e69296ac4a50/src/pinns_pde_solve.jl#L870-L873
Need implementation with broadcast for the vector. This will greatly reduce the execution time.
and will also give the ability to use the GPU for calculation integral.

https://github.com/